<template>
<div class="qs2-container scrollb">
    <div class="qs3-list shadow-lg">
        <div class="font-bold mt-1">Select phenotypes:</div>
        <PhenotypeList/>
    </div>
    <div class="qs3-data shadow-lg">
        <PhenotypeData/>
    </div> 
</div>
</template>

<script setup lang="ts">
import PhenotypeData from "../phenotype/PhenotypeData.vue";
import PhenotypeList from "../phenotype/PhenotypeList.vue";


</script>

<style>

.qs3-list {
    border: solid 1px rgb(148 163 184);
    margin: 16px;
    grid-column: 1 / 6;
    height: 630px;
}

.qs3-data {
    border: solid 1px rgb(148 163 184);
    margin: 16px;
    grid-column: 6 / 21;
    height: 630px;
}

</style>