<template>
    <div class="fixed z-30 left-0 top-14 h-screen w-full bg-opacity-90 bg-gray-200" id="outside_modal">
        <div class="mx-auto bg-white mt-[24px] w-[60%] h-[850px] shadow-lg border-solid border-[1px] border-gray-400 overflow-y-hidden relative" id="in_modal">
            <div class="qm-headline">Query MetaboSERV
                <button class="qm-close-button hover:text-orange-300" @click="emit('close-modal')" 
                :disabled="!Object.keys(query_results).length" :class="{'qm-close-button-disabled': !Object.keys(query_results).length}">
                    Close
                </button>
            </div>
            <div class="qm-container scrollbar-hide">
                <div class="qm-progressbar">
                    <div class="qm-progressbar-a hover:text-orange-400" :class="{'qm-progressbar-activeform': step === 1}" @click="step = 1">
                        <div class="qm-progressbar-text mt-2">Studies and Type</div>
                    </div>
                    <div class="qm-progressbar-b hover:text-orange-400" :class="{'qm-progressbar-activeform': step === 2}" @click="step = 2">
                        <div class="qm-progressbar-text mt-2">Metabolites</div>
                    </div>
                    <div class="qm-progressbar-c hover:text-orange-400" :class="{'qm-progressbar-activeform': step === 3}" @click="step = 3">
                        <div class="qm-progressbar-text mt-2">Phenotypical Data</div>
                    </div>
                    <div class="qm-progressbar-d hover:text-orange-400" :class="{'qm-progressbar-activeform': step === 4}" @click="step = 4">
                        <div class="qm-progressbar-text mt-2">Finishing Touches</div>
                    </div>
                </div>
                <div class="qm-content shadow-lg">
                    <QueryStep1 v-if="step === 1"/>
                    <QueryStep2 v-if="step === 2"/>
                    <QueryStep3 v-if="step === 3"/>
                </div>
            </div>
            <div class="qm-buttons">
                <button class="qm-submit-button hover:text-orange-300" :disabled="query_active_queries.size == 0"
                :class="{'qm-submit-button-disabled': query_active_queries.size == 0}" @click="submitQuery">Submit</button>
                <div class="qm-fullquery">
                    <input type="checkbox" class="accent-blue-500" v-model="checked"/>&nbsp; Full query
                </div>
                <div class="qm-message">
                    <p v-if="!studies_selected.length">Please select at least one study!</p>
                    <p v-if="!metabolites_selected.length">Please select at least one metabolite of interest!</p>
                    <p v-if="studies_selected.length && metabolites_selected.length && query_active_queries.size == 0">
                        The current configuration will not yield any query results. Please make sure a subset of selected
                        metabolites is contained in the selected studies.
                    </p>
                    <p v-if="studies_selected.length && metabolites_selected.length && query_active_queries.size > 0" class="text-green-400">
                        All requirements are satisfied!
                    </p>
                </div>
                <button class="qm-previous-button hover:text-orange-300" :disabled="step <= 1"
                :class="{'qm-previous-button-disabled': step <= 1}" @click="step = step-1">Previous</button>
                <button class="qm-next-button hover:text-orange-300" :disabled="step >= 4"
                :class="{'qm-next-button-disabled': (step >= 4)}" @click="step = step+1">Next</button>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { flaskFilterByMetabolites, flaskGetMetabolites, flaskGetStudies, flaskRetrievePlot } from '@/modules/handle_flask_output';
import { computed, onBeforeMount, onMounted, ref, watch } from 'vue';
import { useStore } from 'vuex';
import QueryStep1 from './QueryStep1.vue';
import QueryStep2 from './QueryStep2.vue';
import { useRoute, useRouter } from 'vue-router';
import { generatePlotID } from '@/modules/query_flask';
import QueryStep3 from './QueryStep3.vue';

const store = useStore();
const route = useRoute();
const router = useRouter();

const studies_selected = computed(() => store.state.studies_selected);
const query_active_queries = computed(() => store.state.query_active_queries);
const metabolites_selected = computed(() => store.state.metabolites_selected);
const studies_all = computed(() => store.state.studies_all);
const metabolites_all = computed(() => store.state.metabolites_all);
const query_results = computed(() => store.state.query_results);
const tokens = computed(() => store.state.access_tokens);
const selected_phenotypes = computed(() => store.state.selected_phenotypes);


/**
 * Has one emit:
 * 
 * @param close-modal (emit) - Tells the parent to close this modal
 */
const emit = defineEmits<{
    (e: 'close-modal'): void;
}>();

/**
 * On mounting the sidebar, studies and metabolites are queried if needed.
 */
onBeforeMount((): void => {
    if (!studies_all.value.length) {flaskGetStudies();}
    if (!metabolites_all.value.length) {flaskGetMetabolites();}
})

/**
 * On mounting, sets values for inside and outside the modal and stores them.
 */
onMounted(() => {
    initialized.value = false;
    if(document.getElementById("in_modal") && document.getElementById("in_modal") != undefined) {
        in_modal.value = document.getElementById("in_modal")
    }
    if(document.getElementById("outside_modal") && document.getElementById("outside_modal") != undefined) {
        outside_modal.value = document.getElementById("outside_modal")
    }
    initialized.value = true;
})

/**
 * Submits a query to the flask microservice/ES database.
 * Uses the user input set in the web application, which is mostly stored in the Vuex store.
 * 
 * @remarks Also resets the plots and generates new ones, as a new query means they have to be recreated.
 */
const submitQuery = async (): Promise<void> => {
    store.commit('queryToggleLoading');
    store.commit('plotReset');
    let qid: string = new Date().toLocaleTimeString().replace(" AM| PM","");
    store.commit('queryIDSet', qid);

    const path = computed(() => route.path);
    let plot_commands: string = generatePlotCommands();
    let plot_id: string = generatePlotID();
    let query_mode: string = checked.value ? 'full' : 'partial';
    store.commit('queryResultsSetMode', query_mode);
    let meta_list = await store.getters.metabolitesCurrentList(query_mode);
    store.commit('queryStoredMetabolitesSet', {
            'metabolite_list': meta_list,
            'qid': qid
        });
    store.commit('queryResultsSetMetadata', {'query_metabolites': meta_list});

    let phenotypes=undefined;
    if (selected_phenotypes.value.length > 0) {
        phenotypes = selected_phenotypes.value;
    }
        
    await flaskFilterByMetabolites(query_active_queries.value, plot_commands, plot_id, "default", query_mode, phenotypes).then( async (): Promise<void> => {
        for(let plot_command of plot_commands.split(";")) {
            plot_command = plot_command.trim();
            if (!emptyResults()) {
                let plot_url = await flaskRetrievePlot(plot_id+"_"+plot_command).then(res => {
                    return res;
                });
                if (plot_url) {
                    store.commit('plotAdd', {'url': plot_url, 'plot_type': plot_command})
                }
            }
        }
    });
    
    store.commit('queryToggleLoading');
    if (path.value == "/") {
        router.push({path: "/table"})
    }
    emit('close-modal');
}

/** 
 * Returns true if there are no query results for the current configured input.
 * Returns false if at least one entry is found for the currently selected studies.
 * 
 * @returns Boolean that is based on whether query results are empty or not
*/
const emptyResults = (): boolean => {
    if (!query_results.value) {
        return true;
    }
    let study: keyof typeof query_results.value;
    for (study in query_results.value) {
        if (Object.keys(query_results.value[study]).length !== 0) {
            return false;
        }
    }
    return true;
}

/**
 * Generates "plot commands" (types) based on how many query results there are.
 * These tell the microservice which plots to generate.
 * 
 * @remarks Possible plot types are 'hist', 'scatter' and 'corrmap'
 */
const generatePlotCommands = (): string =>  {
    if (checked.value) return "hist;scatter;corrmap"
    switch (query_active_queries.value.size) {
        case 0:
            return "";
        case 1:
            return "hist";
        case 2:
            return "hist;scatter";
        default:
            return "hist;scatter;corrmap"
    }
}

/**
 * Shows the modal if a user clicks inside the modal.
 * Closes it if a user clicks outside the modal.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!initialized) {
        return;
    }
    /*if ((!in_modal.value || !outside_modal.value) || (e.target == outside_modal.value && e.target != in_modal.value)) {
        emit('close-modal')
    }*/
});

watch(tokens.value, () => {
    flaskGetStudies();
    flaskGetMetabolites();
})

const in_modal=ref<HTMLElement | null>();
const outside_modal=ref<HTMLElement | null>();
const initialized=ref(false);
const step = ref<Number>(1);
const checked = ref<boolean>(false);
</script>

<style>

.qm-headline {
    height: 5%;
    font-weight: 700;
    font-size: x-large;
    margin-top: 8px;
    margin-left: auto;
}

.qm-container {
    display: grid;
    margin: 8px;
    height: 85%;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows: repeat(15, minmax(0,1fr));
}

.qm-content {
    border: solid rgb(96 165 250) 2px;
    grid-column: 1 / 5;
    grid-row: 2 / 16;
    overflow-y: scroll;
}

.qm-progressbar {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    background-color: lightgray;
    color: gray;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.qm-progressbar-a {
    grid-column: 1 / 2;
}

.qm-progressbar-b {
    grid-column: 2 / 3;
}

.qm-progressbar-c {
    grid-column: 3 / 4;
}

.qm-progressbar-d {
    grid-column: 4 / 5;
}

.qm-progressbar-activeform {
    background-color: rgb(96 165 250);
    color: white;
    cursor: default;
}

.qm-progressbar-activeform:hover {
    color: white;
}

.qm-progressbar-text {
    text-align: left;
    font-weight: 700;
    font-size: larger;
    margin-left: 8px;
}

.qm-buttons {
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 7.5fr 1fr 1fr;
}

.qm-submit-button {
    background-color: rgb(96 165 250);
    color: white;
    grid-column: 1 / 2;
    margin: 4px 4px 4px 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    height: fit-content;
}

.qm-submit-button-disabled {
    background-color: lightgray;
    color: gray;
    cursor: default;
}

.qm-submit-button-disabled:hover {
    color: gray;
}

.qm-previous-button {
    background-color: rgb(96 165 250);
    color: white;
    grid-column: 4 / 5;
    margin: 4px 4px 4px 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    height: fit-content;
}

.qm-next-button {
    background-color: rgb(96 165 250);
    color: white;
    grid-column: 5 / 6;
    margin: 4px 4px 4px 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    height: fit-content;
}

.qm-previous-button-disabled {
    background-color: lightgray;
    color: gray;
    cursor: default;
}

.qm-previous-button-disabled:hover {
    color: gray;
}

.qm-next-button-disabled {
    background-color: lightgray;
    color: gray;
    cursor: default;
}

.qm-next-button-disabled:hover {
    color: gray;
}

.qm-close-button {
    font-size: medium;
    padding: 4px;
    background-color: rgb(96 165 250);
    color: white;
    margin: 4px 4px 4px 4px;
    border-radius: 10px;
    height: fit-content;
    position: absolute;
    top: 8px;
    right: 0;
}

.qm-close-button-disabled {
    background-color: lightgray;
    color: gray;
    cursor: default;
}

.qm-close-button-disabled:hover {
    color: gray;
}

.qm-fullquery {
    margin-top: 0.5rem;
    grid-column: 2 / 3;
}

.qm-message {
    color: red;
    text-align: left;
    margin-left: 8px;
    font-size: smaller;
    grid-column: 3 / 4;
    overflow-wrap: normal;
    overflow-y: scroll;
}


</style>