<template>
<div class="qs1-container">
    <div class="qs1-dropdown pr-4 shadow-lg">
        <div class="font-bold mt-1">Select studies:</div>
        <StudyDropdown @reevaluate-queries="reevaluateQueries"/>
    </div>
    <div class="qs1-filter shadow-lg">
        <div class="font-bold mt-1">Filter studies:</div>
        <StudyFilter :study_data="info_to_show"/>
    </div>
    <div class="qs1-metadata shadow-lg">
        <div class="font-bold mt-1">Study Data:</div>
        <div v-if="!info_visible_state" class="mt-[50%] text-gray-400 text-xs">Hover or click a study on the left to view study metadata</div>
        <StudyMetadata v-if="info_visible_state" :study_data="info_to_show"/>
    </div>   
</div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import StudyDropdown from '../study_dropdown/StudyDropdown.vue';
import StudyFilter from '../study_dropdown/StudyFilter.vue';
import StudyMetadata from '../study_dropdown/StudyMetadata.vue';

const store = useStore();
const query_active_queries = computed(() => store.state.query_active_queries);
const query_inactive_queries = computed(() => store.state.query_inactive_queries);
const metabolite_order_map = computed(() => store.state.metabolite_order_map);
const info_visible_state = computed(() => store.state.info_visible_state)
const info_to_show = computed(() => store.state.info_to_show)

/**
 * Inactivates queries for metabolites that are not contained in any selected studies.
 * Also activates queries that are currently inactive but are contained in at least one study.
 */
const reevaluateQueries = async (): Promise<void> => {
    await store.dispatch('metabolitesUpdateAll')
    for (let query of query_active_queries.value) {
        if (!metabolite_order_map.value.get(query[0]) || metabolite_order_map.value.get(query[0]) == 0) {
            inactivateQuery(query);
        }
    }
    for (let query of query_inactive_queries.value) {
        if (metabolite_order_map.value.get(query[0]) && metabolite_order_map.value.get(query[0]) != 0) {
            activateQuery(query);
        }
    }
}

/**
 * Inactivates a currently active query.
 * Inactive queries are kept in a separate list so they can be quickly reactivated.
 * 
 * @param query - Contains a query ID (metabolite identifier) and the query string itself.
 */
const inactivateQuery = (query: [string, string]): void => {
    store.commit('querySetInactive', query);
}

/**
 * Activates a currently inactive query.
 * It is moved from the inactive to the active list and a new query range is created (just in case).
 * 
 * @param query - Contains a query ID (metabolite identifier) and the query string itself.
 */
const activateQuery = (query: [string, string]): void => {
    store.commit('querySetActive', query)
}

</script>

<style>

.qs1-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, minmax(0,1fr));
}

.qs1-dropdown {
    border: solid 1px rgb(148 163 184);
    margin: 16px;
    grid-column: 1 / 5;
    height: 630px;
}

.qs1-filter {
    border: solid 1px rgb(148 163 184);
    margin: 16px;
    grid-column: 5 / 15;
    height: 630px;
    overflow-y: scroll;
}

.qs1-metadata {
    border: solid 1px rgb(148 163 184);
    margin: 16px;
    grid-column: 15 / 21;
    height: 630px;
}

</style>