<template>
<div class="qs2-container scrollb">
    <div class="qs2-picker shadow-lg">
        <div class="font-bold mt-1">Select metabolites:</div>
        <MetabolitePicker :metabolites="metabolites_all" :studies="studies_selected" @delete-from-selection="removeFromQuery" @reevaluate-queries="reevaluateQueries"/>
    </div>
    <div class="qs2-config shadow-lg">
        <div class="mt-[2px]"/>
        <FilterItem v-for="s_item in metabolites_selected" :key="s_item.id" class="qs2-filter-item" :metabolite_data="s_item"/>
    </div> 
</div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
import MetabolitePicker from '../metabolite_picker/MetabolitePicker.vue';
import FilterItem from '../filter_configuration/FilterItem.vue';

const store = useStore();
const metabolites_all = computed(() => store.state.metabolites_all);
const studies_selected = computed(() => store.state.studies_selected);
const query_active_queries = computed(() => store.state.query_active_queries);
const query_inactive_queries = computed(() => store.state.query_inactive_queries);
const metabolite_order_map = computed(() => store.state.metabolite_order_map);
const metabolites_selected = computed(() => store.state.metabolites_selected);

/**
 * Removes a query.
 * This is called when a query metabolite is unselected.
 * 
 * @param metabolite_name - The name of the metabolite
 */
const removeFromQuery = (metabolite_id: string): void => {
    store.commit('queryRemove', metabolite_id);
}

/**
 * Inactivates queries for metabolites that are not contained in any selected studies.
 * Also activates queries that are currently inactive but are contained in at least one study.
 */
const reevaluateQueries = async (): Promise<void> => {
    await store.dispatch('metabolitesUpdateAll')
    for (let query of query_active_queries.value) {
        if (!metabolite_order_map.value.get(query[0]) || metabolite_order_map.value.get(query[0]) == 0) {
            inactivateQuery(query);
        }
    }
    for (let query of query_inactive_queries.value) {
        if (metabolite_order_map.value.get(query[0]) && metabolite_order_map.value.get(query[0]) != 0) {
            activateQuery(query);
        }
    }
}

/**
 * Inactivates a currently active query.
 * Inactive queries are kept in a separate list so they can be quickly reactivated.
 * 
 * @param query - Contains a query ID (metabolite identifier) and the query string itself.
 */
const inactivateQuery = (query: [string, string]): void => {
    store.commit('querySetInactive', query);
}

/**
 * Activates a currently inactive query.
 * It is moved from the inactive to the active list and a new query range is created (just in case).
 * 
 * @param query - Contains a query ID (metabolite identifier) and the query string itself.
 */
const activateQuery = (query: [string, string]): void => {
    store.commit('querySetActive', query)
}

</script>

<style>

.qs2-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, minmax(0,1fr));
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

.qs2-container::-webkit-scrollbar {
    display: none;
}

.qs2-picker {
    border: solid 1px rgb(148 163 184);
    margin: 16px;
    grid-column: 1 / 11;
    height: 630px;
}

.qs2-config {
    border: solid 1px rgb(148 163 184);
    grid-column: 11 / 21;
    margin: 16px;
    height: 630px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 6px;
    overflow-y: scroll;
}

.qs2-filter-item {
    border: solid rgb(96 165 250) 1px;
    height:fit-content;
}


</style>