<template>
    <div class="fixed z-40 left-0 top-0 h-full w-full bg-blue-100 bg-opacity-50 flex items-center" id="outside_modal">
        <div class="mx-auto bg-white h-fit min-w-[30%] min-h-fit border-solid border-slate-400 border-[1px] shadow-lg px-[3%] pb-2 relative" id="in_modal">
            <p class="mx-auto font-bold my-4">Manage contributors</p>
            <div class="cl-modal-list">
                <span class="w-full col-start-1 col-span-1">Username</span>
                <span class="w-full col-start-2 col-span-1 text-center">V.</span>
                <span class="w-full col-start-3 col-span-1 text-center">M.</span>
                <span class="col-start-4 col-span-2"></span>
                <span class="col-start-1 col-span-1" v-for="user in users">{{user.username}}</span>
                <input type="checkbox" class="accent-blue-500 col-start-2 col-span-1" :checked="user.view" 
                :disabled="user.username == logged_user || user.username == uploader" checked disabled v-for="user in users"/>
                <input type="checkbox" class="accent-blue-500 col-start-3 col-span-1" :checked="user.manage" :disabled="user.username == logged_user || user.username == uploader" 
                @change="updateUser(user.username, !user.manage)" v-for="user in users"/>
                <div v-for="user in users" class="col-start-4 col-span-2">
                    <button class="generic-red-button rounded-lg text-sm px-1 pt-0.5" :disabled="adding" v-if="user.username != logged_user && user.username != uploader" @click="removeUser(user.username)">Remove</button>
                    <div class="w-1 h-1 bg-white" v-if="user.username == logged_user || user.username == uploader"></div>
                </div>
                <input v-if="adding" type="text" class="h-fit border-gray-400 border-[1px] border-solid rounded-sm col-start-1 col-span-1" placeholder="Enter username..." v-model="adding_username"/>
                <input v-if="adding" type="checkbox" class="col-start-2 col-span-1 accent-blue-500" checked disabled/>
                <input v-if="adding" type="checkbox" class="col-start-3 col-span-1 accent-blue-500" v-model="adding_manage" :checked="adding_manage"/>
                <button v-if="adding" class="generic-blue-button rounded-lg pt-0.5 text-sm px-2 mr-2 col-start-4 col-span-1" @click="addUser">Add</button>
                <button v-if="adding" class="generic-red-button rounded-lg pt-0.5 text-sm px-2 col-start-5 col-span-1" @click="adding = false">Cancel</button>
            </div>
            <button class="generic-blue-button mx-auto rounded-lg px-1 pt-0.5 text-sm" @click="adding = true" v-if="!adding">Add new contributor</button>
            <div class="text-xs mt-4" v-if="message">{{message}}</div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { customObject } from '@/store';
import { onMounted, ref } from 'vue';

const props = defineProps<{
    users: customObject,
    logged_user: string,
    uploader: string,
    message: string,
}>();



/**
 * Has two emits:
 * 
 * @param close-modal (emit) - Tells the parent to close the token generation modal.
 * @param generate-token (emit) - Tells the parent to generate a token with set parameters
 */
const emit = defineEmits<{
    (e: 'close-modal'): void;
    (e: 'add-contributor', u: string, pm: boolean): void;
    (e: 'update-contributor', u: string, pm: boolean): void;
    (e: 'remove-contributor', u: string): void;
}>();

/**
 * On mounting, sets values for inside and outside the modal and stores them.
 */
onMounted(() => {
    initialized.value = false;
    if(document.getElementById("in_modal") && document.getElementById("in_modal") != undefined) {
        in_modal.value = document.getElementById("in_modal")
    }
    if(document.getElementById("outside_modal") && document.getElementById("outside_modal") != undefined) {
        outside_modal.value = document.getElementById("outside_modal")
    }
    initialized.value = true;
})

/**
 * Shows the modal if a user clicks inside the modal.
 * Closes it if a user clicks outside the modal.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!initialized) {
        return;
    }
    if ((!in_modal.value || !outside_modal.value) || (e.target == outside_modal.value && e.target != in_modal.value)) {
        emit('close-modal')
    }
});

const addUser = () => {
    emit('add-contributor', adding_username.value, adding_manage.value);
    adding.value = false;
}

const updateUser = (username: string, manage: boolean) => {
    emit('update-contributor', username, manage);
}

const removeUser = (username: string) => {
    emit('remove-contributor', username);
}

const in_modal=ref<HTMLElement | null>();
const outside_modal=ref<HTMLElement | null>();
const initialized=ref(false);

const adding = ref<boolean>(false);
const adding_username = ref<string>("");
const adding_manage = ref<boolean>(false);
</script>

<style>

.cl-modal-list {
    display: grid;
    grid-template-columns: 4fr repeat(5,minmax(0,max-content));
    grid-auto-flow: column;
    row-gap: 4px;
    gap: 8px;
    text-align: left;
    justify-items: baseline;
    align-items: center;
}
</style>