<template>
    <ContributorModal v-if="user_modal_open" @close-modal="user_modal_open = false; message=''" :users="users" :logged_user="logged_user" :uploader="study_uploader"
    @add-contributor="addNewContributor" @remove-contributor="removeExistingContributor" @update-contributor="updateExistingContributor" :message="message"/>
    <div class="cl-wrapper shadow-lg">
    <div class="contributorlist-wrapper">
        <p class="contributor-title">Contributors:</p>
        <div class="user-container">
            <span class="user-headline-username">Username</span>
            <span class="user-container-perm1 user-headline-permfont">View</span>
            <span class="user-container-perm2 user-headline-permfont">Man.</span>
        </div>
        <div v-for="user of users">
            <div class="user-container" v-if="user.view || user.manage">
                <p class="user-container-name">{{user.username}}</p>
                <span class="user-container-perm1">
                    <span class="checkmark" :class="{'original-user': user.username === logged_user || user.username == study_uploader}" v-if="user.view"/>
                    <span class="anticheckmark" :class="{'original-user-ac': user.username === logged_user || user.username == study_uploader}" v-if="!user.view">&#10060;</span>
                </span>
                <span class="user-container-perm2">
                    <span class="checkmark" :class="{'original-user': user.username === logged_user || user.username == study_uploader}" v-if="user.manage"></span>
                    <span class="anticheckmark" :class="{'original-user-ac': user.username === logged_user || user.username == study_uploader}" v-if="!user.manage">&#10060;</span>
                </span>
            </div>
        </div>
    </div>
        <div class="cl-addcontributor" @click="user_modal_open = true" style="cursor: pointer">
            Manage contributors
        </div>
    </div>
</template>


<script setup lang="ts">
import { customObject } from '@/store';
import { computed, onMounted, ref, watch } from 'vue';
import { addContributor, getPermittedUsers, removeContributor, updateContributor } from '@/modules/query_flask';
import { useStore } from "vuex";
import ContributorModal from './ContributorModal.vue';

const store = useStore();
const logged_user = computed(() => store.getters.getUser)
const study_metadata = computed(() => store.state.studies_metadata);

onMounted(async () => {
    users.value = await getPermittedUsers(props.study)
})

const props = defineProps<{
    study: string,
}>();

const addNewContributor = async (username: string, manage: boolean) => {
    let response = await addContributor(props.study, username, manage);
    message.value = response.msg;
    users.value = await getPermittedUsers(props.study)
}

const removeExistingContributor = async (username: string) => {
    let response = await removeContributor(props.study, username);
    message.value = response.msg;
    users.value = await getPermittedUsers(props.study)
}

const updateExistingContributor = async (username: string, manage: boolean) => {
    let response = await updateContributor(props.study, username, manage);
    message.value = response.msg;
    users.value = await getPermittedUsers(props.study)
}

const users = ref<customObject>({});
const user_modal_open = ref<boolean>(false);
const study_uploader = ref<string>("");
const message = ref<string>("");

watch(study_metadata.value, () => {
    console.log("called")
    study_uploader.value = study_metadata.value.get(props.study).uploader;
    console.log(study_uploader.value)
})

</script>

<style>

.cl-addcontributor {
    position: absolute;
    height: fit-content;
    bottom: 4px;
    right: 4px;
    left: 4px;
    background: rgb(96 165 250);
    color: white;
    font-size: large;
}

.cl-addcontributor:hover {
    color: rgb(253 186 116);
}

.cl-wrapper {
    height: 100%;
    position: relative;
    border: solid 1px rgb(148 163 184);
}

.contributor-title {
    font-size: large;
    font-weight: 700;
    margin-top: 4px;
}

.contributorlist-wrapper {
    margin: auto;
    height: 80%;
    min-height: 0;
    overflow-y: scroll;
}

.user-container {
    display: grid;
    grid-template-columns: repeat(10, minmax(0,1fr));
    grid-template-rows: 1fr min-content;
    margin-left: 8px;
    margin-right: 8px;
}

.user-headline-username {
    margin-left: 4%;
    font-size: xx-small;
    font-weight: 700;
}

.user-headline-permfont {
    width: 100%;
    font-weight: 700;
    text-align: center;
    font-size: xx-small;
}

.user-container-name {
    grid-column: 1 / 9;
    text-align: left;
    overflow-x: hidden;
}

.user-container-perm1 {
    grid-column: 9 / 10;
}

.user-container-perm2 {
    grid-column: 10 / 11;
}

.checkmark {
    display: inline-block;
    transform: rotate(45deg);
    height: 70%;
    min-width: 10px;
    max-width: 35%;
    border-bottom: 4px solid rgb(96 165 250);
    border-right: 4px solid rgb(96 165 250);
}

.original-user {
    border-bottom: 4px solid rgb(148 163 184);
    border-right: 4px solid rgb(148 163 184);
    cursor: default;
}

.original-user-ac {
    color: rgb(148 163 184);
    cursor: default;
}

.anticheckmark {
    display: inline-block;
    height: 65%;
    width: 100%;
    color: rgb(96 165 250);
    text-align: center;
}


</style>