<template>
    <div class="mbl-metabolitelist-wrapper shadow-lg">
        <p class="mbl-metabolitelist-title">Metabolites:</p>
        <div class="mbl-metabolitelist-container">
                <div class="mbl-metabolitelist-item font-bold text-sm">Metabolite</div>
                <div class="mbl-metabolitelist-minmax font-bold text-sm">Range</div>
                <div class="mbl-metabolitelist-unit font-bold text-sm">Unit</div>
                <div class="mbl-metabolitelist-cov font-bold text-sm">Coverage</div>
            <div class="mbl-metabolitelist-placeholder" v-for="metabolite in metabolite_data">
                <div class="mbl-metabolitelist-item">{{metabolite.metabolite_name}}</div>
                <div class="mbl-metabolitelist-minmax">{{metabolite.min}} - {{metabolite.max}}</div>
                <div class="mbl-metabolitelist-unit">{{metabolite.unit}}</div>
                <div class="mbl-metabolitelist-cov" :class="coverage_color_map.get(metabolite.coverage*100)">{{Math.round(metabolite.coverage * 100)}}%</div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { customObject } from '@/store';
import { computed, onBeforeMount, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import { getMetabolitesForStudy } from "@/modules/query_flask";

const store = useStore();

onBeforeMount(async () => {
    metabolite_data.value = await getMetabolitesForStudy(props.study);
    await populateCoverageMap();
})

onMounted(async () => {
    
})

const props = defineProps<{
    study: string,
}>();

const populateCoverageMap = async (): Promise<void> => {
    for (let metabolite of Object.keys(metabolite_data.value)) {
        let meta_coverage:number = Math.round(metabolite_data.value[metabolite].coverage*100);
        if (!coverage_color_map.value.has(meta_coverage)) {
            coverage_color_map.value.set(meta_coverage, percentageToColor(meta_coverage));
        }
    }
}

const percentageToColor = (percentage: number, min = 0, max = 120): string => {
            let base = (max - min);
            if (base == 0) { percentage = 100; }
            else {
                percentage = (percentage - min) / base * 100; 
            }
            let r, g, b = 0;
            if (percentage < 50) {
                r = 255;
                g = Math.round(5.1 * percentage);
            }
            else {
                g = 255;
                r = Math.round(510 - 5.10 * percentage);
            }
            var h = r * 0x10000 + g * 0x100 + b * 0x1;
            return 'text-[#' + ('000000' + h.toString(16)).slice(-6) +']';
        }

const metabolite_data = ref<customObject>({});
const coverage_color_map = ref<Map<number, string>>(new Map<number, string>());
</script>

<style>

.mbl-metabolitelist-title {
    margin-top: 4px;
    font-size: large;
    font-weight: 700;
}

.mbl-metabolitelist-wrapper {
    margin: auto;
    border: solid 1px rgb(148 163 184);
    height: 100%;
    min-height: 0;
    position: relative;
    overflow-y: scroll;
}

.mbl-metabolitelist-container {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    grid-auto-rows: max-content;
    overflow-y: scroll;
    margin-left: 10%;
    margin-right: 10%;
}

.mbl-metabolitelist-placeholder {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    grid-auto-rows: max-content;
    grid-column: 1 / 5;
    font-size: small;
}

.mbl-metabolitelist-item {
    grid-column: 1;
    text-align: left;
}

.mbl-metabolitelist-minmax {
    grid-column: 2;
    text-align: left;
}

.mbl-metabolitelist-unit {
    grid-column: 3;
    text-align: center;
}

.mbl-metabolitelist-cov {
    grid-column: 4;
    text-align: center;
}

</style>