<template>
    <MetadataEditModal @close-modal="modal_open = false" @update-metadata="updateMetadata" v-if="modal_open" :study_data="study_data" :study="study"/>
    <div class="mda-metadata-wrapper shadow-lg">
        <p class="mda-metadata-title">{{study}}:</p>
        <div class="mda-metadata-container">
            <!--Study Authors-->
            <div class="mda-metadata-descriptor" v-if="study_data.study_authors">Authors:</div>
            <div class="mda-metadata-content" v-if="study_data.study_authors">{{study_data.study_authors.split(',').join(', ')}}</div>          

            <!--Study Date-->
            <div class="mda-metadata-descriptor" v-if="study_data.study_date">Published:</div>
            <div class="mda-metadata-content" v-if="study_data.study_date">{{study_data.study_date}}</div>
            
            <!--Experiment Date-->
            <div class="mda-metadata-descriptor" v-if="study_data.experiment_date">Exp. Date:</div>
            <div class="mda-metadata-content" v-if="study_data.experiment_date">{{study_data.experiment_date}}</div>

            <!--Specimen-->
            <div class="mda-metadata-descriptor" v-if="study_data.study_type">Specimen:</div>
            <div class="mda-metadata-content" v-if="study_data.study_type">{{study_data.study_type}}</div>   

            <!--Study Method-->
            <div class="mda-metadata-descriptor" v-if="study_data.study_method">Method:</div>
            <div class="mda-metadata-content" v-if="study_data.study_method">{{study_data.study_method}}</div>   

            <!--Spectrometer-->
            <div class="mda-metadata-descriptor" v-if="study_data.spectrometer">Spectrometer:</div>
            <div class="mda-metadata-content" v-if="study_data.spectrometer">{{study_data.spectrometer}}</div>   

            <!--Probehead-->
            <div class="mda-metadata-descriptor" v-if="study_data.probehead">Probehead:</div>
            <div class="mda-metadata-content" v-if="study_data.probehead">{{study_data.probehead}}</div>   

            <!--Spectrometer Probe-->
            <div class="mda-metadata-descriptor" v-if="study_data.spectrometer_probe">Spec. Probe:</div>
            <div class="mda-metadata-content" v-if="study_data.spectrometer_probe">{{study_data.spectrometer_probe}}</div>   

            <!--Instrument-->
            <div class="mda-metadata-descriptor" v-if="study_data.instrument">Instrument:</div>
            <div class="mda-metadata-content" v-if="study_data.instrument">{{study_data.instrument}}</div>   

            <!--Quantification Method-->
            <div class="mda-metadata-descriptor" v-if="study_data.quantification_method">Quant. Method:</div>
            <div class="mda-metadata-content" v-if="study_data.quantification_method">{{study_data.quantification_method}}</div>
            
            <!--Uploader-->
            <div class="mda-metadata-descriptor" v-if="study_data.uploader">Uploaded by:</div>
            <div class="mda-metadata-content" v-if="study_data.uploader">{{study_data.uploader}}</div>
            
            <!--Visibility-->
            <div class="mda-metadata-descriptor" v-if="study_data.visibility">Visibility:</div>
            <div class="mda-metadata-content" v-if="study_data.visibility">{{study_data.visibility}}</div>

            <!--DOI-->
            <div class="mda-metadata-descriptor" v-if="study_data.doi">DOI:</div>
            <div class="mda-metadata-content" v-if="study_data.doi">{{study_data.doi}}</div>

            <!--MetaboLights accession number-->
            <div class="mda-metadata-descriptor" v-if="study_data.ml_id">MetaboLights:</div>
            <div class="mda-metadata-content" v-if="study_data.ml_id">{{study_data.ml_id}}</div>
            
            <!--Associated Files-->
            <div class="mda-metadata-descriptor" v-if="study_data.study_files">Assoc. Files:</div>
            <div class="mda-metadata-content" v-if="study_data.study_files">
                <p v-for="file in study_data.study_files" :key="file">{{file}}</p>
            </div>


        </div>
        <div class="cl-addcontributor" @click="modal_open = true" style="cursor: pointer">
            Edit metadata
        </div>
    </div>
</template>

<script setup lang="ts">
import { customObject } from '@/store';
import { computed, onMounted, ref } from 'vue';
import { flaskGetStudyMetadata } from '@/modules/handle_flask_output';
import { useStore } from 'vuex';
import MetadataEditModal from './MetadataEditModal.vue';
import { updateStudyMetadata } from '@/modules/query_flask';

const store = useStore();
const studies_metadata = computed(() => store.state.studies_metadata);

onMounted(async () => {
    let study_metadata = studies_metadata.value.get(props.study);
    if (!study_metadata) {
        study_metadata = await flaskGetStudyMetadata(props.study);
        store.commit('studyAddMetadata', {'study_id': props.study, 'metadata': study_metadata});
    }
    study_data.value = study_metadata;
})

const props = defineProps<{
    study: string,
}>();

const updateMetadata = async (study_metadata: customObject) => {
    await updateStudyMetadata(props.study, study_metadata);
    study_metadata = await flaskGetStudyMetadata(props.study);
    store.commit('studyAddMetadata', {'study_id': props.study, 'metadata': study_metadata});
    study_data.value = study_metadata;
}

const study_data = ref<customObject>({});
const modal_open = ref<boolean>(false);
</script>

<style>

.mda-metadata-title {
    margin-top: 4px;
    font-size: large;
    font-weight: 700;
}

.mda-metadata-wrapper {
    margin: auto;
    border: solid 1px rgb(148 163 184);
    height: 100%;
    min-height: 0;
    position: relative;
}

.mda-metadata-container {
    margin-left: 8px;
    height: 80%;
    margin-right: 8px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-auto-rows: max-content;
    overflow-y: scroll;
}

.mda-metadata-descriptor {
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: smaller;
    text-align: left;
    white-space: nowrap;
    overflow-x: hidden;
}

.mda-metadata-content {
    font-size: smaller;
    margin-left: 8px;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
}

</style>