<template>
    <div class="fixed z-40 left-0 top-0 h-full w-full bg-blue-100 bg-opacity-50 flex items-center" id="outside_modal">
        <div class="mx-auto bg-white w-fit h-fit min-w-[40%] min-h-fit max-h-[70%] overflow-y-scroll border-solid border-slate-400 border-[1px] shadow-lg px-[3%] relative" id="in_modal">
            <p class="mx-auto font-bold my-4">Edit metadata</p>
            <form class="md-modal text-left" v-on:submit.prevent="updateMetadata">
                <label for="authors">Authors:</label> <input type="text" class="bg-gray-200 pl-1" id="authors" v-model="md.study_authors" pattern="[\p{L}\p{M},\. ]*"/>
                <label for="study_date">Published:</label> <input type="text" class="bg-gray-200 pl-1" id="study_date" v-model="md.study_date" pattern="[0-9]{4}$"/>
                <label for="experiment_date">Study Period (years):</label> <input type="text" class="bg-gray-200 pl-1" id="experiment_date" v-model="md.experiment_date" pattern="[0-9]{4}(-[0-9]{4})?"/>
                <label for="specimen">Specimen:</label> <select class="bg-gray-200 pl-1 pt-2" id="specimen" v-model="md.study_type">
                    <option value="serum">Serum</option>
                    <option value="plasma">Plasma</option>
                    <option value="urine">Urine</option>
                    <option value="feces">Feces</option>
                    <option value="csf">CSF</option>
                    <option value="other">Other</option>
                </select>
                <label for="method">Method:</label> <select class="bg-gray-200 pl-1 pt-2" id="method" v-model="md.study_method">
                    <option value="">No Information/Unknown</option>
                    <option value="nmr">NMR</option>
                    <option value="ms">Hyphenated Mass Spectrometry</option>
                    <option value="other">Other</option>
                </select>
                <label for="spectrometer">Spectrometer:</label> <input type="text" class="bg-gray-200 pl-1" id="spectrometer" v-model="md.spectrometer"/>
                <label for="instrument">Instrument:</label> <input type="text" class="bg-gray-200 pl-1" id="instrument" v-model="md.instrument"/>
                <label for="probehead">Probehead:</label> <input type="text" class="bg-gray-200 pl-1" id="probehead" v-model="md.probehead"/>
                <label for="qm">Quant. method:</label> <input type="text" class="bg-gray-200 pl-1" id="qm" v-model="md.quantification_method"/>
                <label for="doi">DOI:</label> <input type="text" class="bg-gray-200 pl-1" id="doi" v-model="md.doi"/>
                <label for="metabolights">MetaboLights ID:</label> <input type="text" class="bg-gray-200 pl-1" id="metabolights" v-model="md.ml_id"/>
                <label for="vis">Visibility:</label> <select class="bg-gray-200 pl-1 pt-2" id="vis" v-model="md.visibility">
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                </select>
                <input type="submit" class="bg-blue-500 text-white text-center rounded-lg my-4 hover:text-orange-200" style="cursor: pointer" value="Save"/>
            </form>
            
        </div>
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { customObject } from '@/store';

/**
 * Has two emits:
 * 
 * @param close-modal (emit) - Tells the parent to close the metadata modal.
 * @param update-metadata (emit) - Tells the parent to update metadata with parameters stored in an object.
 */
const emit = defineEmits<{
    (e: 'close-modal'): void;
    (e: 'update-metadata', md: customObject): void;
}>();

/**
 * Has two props:
 * 
 * @param study - The study to edit metadata for
 * @param study_data - Current metadata for the chosen study
 */
const props = defineProps<{
    study: string,
    study_data: customObject,
}>();

/**
 * On mounting, sets values for inside and outside the modal and stores them.
 */
onMounted(() => {
    initialized.value = false;
    if(document.getElementById("in_modal") && document.getElementById("in_modal") != undefined) {
        in_modal.value = document.getElementById("in_modal")
    }
    if(document.getElementById("outside_modal") && document.getElementById("outside_modal") != undefined) {
        outside_modal.value = document.getElementById("outside_modal")
    }
    initialized.value = true;
    md.value = Object.assign({},props.study_data) as customObject;
})

/**
 * Shows the modal if a user clicks inside the modal.
 * Closes it if a user clicks outside the modal.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!initialized) {
        return;
    }
    if ((!in_modal.value || !outside_modal.value) || (e.target == outside_modal.value && e.target != in_modal.value)) {
        emit('close-modal')
    }
});

const updateMetadata = () => {
    emit('update-metadata', md.value);
    emit('close-modal');
}


const in_modal=ref<HTMLElement | null>();
const outside_modal=ref<HTMLElement | null>();
const initialized=ref(false);

const md = ref<customObject>({});
</script>

<style>

.md-modal {
    display: grid;
    grid-template-columns: 1.4fr 4fr;
    row-gap: 8px;
    align-items: center;
    gap: 8px;
}

.md-modal input {
    accent-color: rgb(59 130 246);
}

.md-modal input:invalid {
    accent-color: rgb(239 68 68);
    color: rgb(239 68 68);
}

</style>