<template>
    <TokenGenerationModal v-if="token_modal_open" @close-modal="token_modal_open = false" @generate-token="generateToken" :studies_permitted="studies_permitted"/>
    <div class="tl-tokenlist-wrapper shadow-lg">
        <div class="overflow-y-scroll h-[80%]">
            <p class="tl-tokenlist-title">Auth. Tokens:</p>
            <span class="absolute left-4 text-gray-400" v-if="tokens && tokens.length==0">No tokens currently in use.</span>
            <div class="tl-token shadow-lg p-0.5" v-for="token of tokens" :key="token.id">
            {{token.id}} --- 
            {{token.permission == 'view' ? 'Viewing permissions': 'Full permissions'}} --- 
            {{token.expiration == 'never' ? 'No expiration date' : `Expires on ${token.expiration}`}} ---
            {{token.comment ? token.comment : "No comment"}}
            <button class="underline text-blue-400 link-transition" @click="copyToClipboard(token.id)">Copy to clipboard</button>
            <button class="underline text-blue-400" @click="revokeToken(token.id)">Revoke</button>
            </div>
        </div>
        <div class="cl-addcontributor" @click="token_modal_open = true" style="cursor: pointer">
            Generate a new token
        </div>
    </div>
    
</template>

<script setup lang="ts">
import { generateNewToken, getTokenList, revokeExistingToken } from '@/modules/query_flask';
import { customObject } from '@/store';
import { onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import TokenGenerationModal from './TokenGenerationModal.vue';

const store = useStore();

onMounted(async () => {
    await refreshTokenList();
})

const props = defineProps<{
    study: string,
    studies_permitted: Array<string>,
}>();

const generateToken = async (studies: string[], perm_type: string, expdays: number, comment: string) => {
    const response = await generateNewToken(studies.join(";"), perm_type, expdays, comment);
    await refreshTokenList();
}

const revokeToken = async (token_id: string) => {
    const response = await revokeExistingToken(token_id);
    await refreshTokenList();
}

const copyToClipboard = async (token_id: string) => {
    let current_route:string = window.location.origin + process.env.BASE_URL;
    await navigator.clipboard.writeText(current_route + `?token=${token_id}`)
    .catch((error) => console.log(error));
} 

const refreshTokenList = async () => {
    let current_tokens = await getTokenList(props.study);
    tokens.value.splice(0, tokens.value.length);
    if (current_tokens) {
        for (let tk of current_tokens) {
            tokens.value.push(tk);
        }
    }
}

const tokens = ref<Array<customObject>>([]);
const token_modal_open = ref<boolean>(false);
</script>

<style>

.tl-tokenlist-title {
    margin-top: 4px;
    font-size: large;
    font-weight: 700;
}

.tl-tokenlist-wrapper {
    border: solid 1px rgb(148 163 184);
    height: 100%;
    min-height: 0;
    position: relative;
    font-size: medium;
}

.tl-token {
    display: grid;
    border: solid 1px rgb(148 163 184);
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    font-size: smaller;
    text-align: left;
}

.link-transition {
    color: rgb(96 165 250);
    transition: color 1s ease-in-out;
}

.link-transition:focus{
    color: green;
}

</style>