<template>
    <div class="fixed z-40 left-0 top-0 h-full w-full bg-blue-100 bg-opacity-50 flex items-center" id="outside_modal">
        <div class="mx-auto bg-white w-fit h-fit min-w-[30%] min-h-fit border-solid border-slate-400 border-[1px] shadow-lg px-[3%] relative" id="in_modal">
            <p class="mx-auto font-bold my-4">Generate a new token</p>
            <div class="grid gap-2 grid-cols-2 mb-4">
                <select class="h-8" v-model="perm_type">
                    <option selected value="view"> Viewing permissions</option>
                    <option value="manage"> Managing permissions</option>
                </select>
                <select class="h-8" v-model="expiration">
                    <option selected value="noexp"> No expiration date</option>
                    <option value="exp"> Set expiration date</option>
                </select>
                <span class="col-start-1 text-left mt-1" v-if="expiration == 'exp'">Days until expiration:</span>
                <input type="number" class="col-start-2 w-[20%] bg-gray-200 accent-blue-400" v-if="expiration == 'exp'" v-model="expdays"/>
                <span class="col-start-1 text-left mt-1">Add comment (optional):</span>
                <input type="text" class="col-start-2 bg-gray-200 accent-blue-400 h-8" v-model="comment"/>
                <div class="block text-left col-start-1 mt-1">Studies to include</div>
                <div class="col-start-2 w-full h-fit max-h-40 mt-1 border-[1px] border-solid overflow-y-scroll">
                    <div v-for="study in studies_permitted" :key="study" class="text-left ml-1">
                        <input type="checkbox" class="accent-blue-500" checked @change="toggleBox(study)"/>&nbsp;{{study}}
                    </div>
                </div>
            </div>
            <button class="generic-blue-button rounded-lg px-2 mb-4" @click="generateToken">Generate</button>
        </div>
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

const props = defineProps<{
    studies_permitted: Array<string>,
}>();

/**
 * Has two emits:
 * 
 * @param close-modal (emit) - Tells the parent to close the token generation modal.
 * @param generate-token (emit) - Tells the parent to generate a token with set parameters
 */
const emit = defineEmits<{
    (e: 'close-modal'): void;
    (e: 'generate-token', st: Array<string>, pt: string, expd: number, comment: string): void;
}>();

/**
 * On mounting, sets values for inside and outside the modal and stores them.
 */
onMounted(() => {
    initialized.value = false;
    if(document.getElementById("in_modal") && document.getElementById("in_modal") != undefined) {
        in_modal.value = document.getElementById("in_modal")
    }
    if(document.getElementById("outside_modal") && document.getElementById("outside_modal") != undefined) {
        outside_modal.value = document.getElementById("outside_modal")
    }
    initialized.value = true;
    selected_studies.value = Object.assign([], props.studies_permitted);
})

const toggleBox = (study: string) => {
    if (selected_studies.value.includes(study)) selected_studies.value.splice(selected_studies.value.indexOf(study), 1);
    else selected_studies.value.push(study);
}

/**
 * Shows the modal if a user clicks inside the modal.
 * Closes it if a user clicks outside the modal.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!initialized) {
        return;
    }
    if ((!in_modal.value || !outside_modal.value) || (e.target == outside_modal.value && e.target != in_modal.value)) {
        emit('close-modal')
    }
});

const generateToken = async () => {
    if (expiration.value == 'exp')
        emit('generate-token', selected_studies.value, perm_type.value, Math.max(0,expdays.value), comment.value);
    else if (expiration.value == 'noexp')
        emit('generate-token', selected_studies.value, perm_type.value, -1, comment.value);
    emit('close-modal');
}


const in_modal=ref<HTMLElement | null>();
const outside_modal=ref<HTMLElement | null>();
const initialized=ref(false);

const perm_type = ref<string>("view")
const expiration = ref<string>("noexp")
const expdays = ref<number>(7);
const comment = ref<string>("");
const selected_studies=ref<Array<string>>([]);

</script>