<template>
    <div class="filteritem-wrapper shadow-lg">
        <!--Top row checkboxes-->
        <div class="filteritem-container">
            <span class="row-start-1 col-start-1 col-end-6 text-left ml-2 font-bold filteritem-griditem">{{metabolite_data.metabolite_name}}</span>
            <span class="row-start-1 col-start-6 col-end-7 filteritem-griditem">
                <input type="checkbox" class="accent-blue-500" :checked="box_array[0] == 1" @change="toggleBoxes(0)" :id="`${metabolite_data.id}_box0`"/>&nbsp;any</span>
            <span class="row-start-1 col-start-7 col-end-9 filteritem-griditem" :class="{'disabled-checkbox': nconc_option === 'none'}">
                <input type="checkbox" class="accent-blue-500" :checked="box_array[1] == 1" @change="toggleBoxes(1)" :id="`${metabolite_data.id}_box1`" :disabled="nconc_option ==  'none'"/>&nbsp;out of bounds</span>
            <span class="row-start-1 col-start-9 col-end-11 filteritem-griditem">
                <input type="checkbox" class="accent-blue-500" :checked="box_array[2] == 1" @change="toggleBoxes(2)" :id="`${metabolite_data.id}_box2`"/>&nbsp;set min/max</span>
        </div>
        <!--Second row: Normal conc. choice-->
        <div class="filteritem-container">
            <span class="row-start-1 col-start-1 col-end-4 text-left ml-2 text-xs filteritem-griditem">Use normal concentration:</span>
            <span class="row-start-1 col-start-4 col-end-10 filteritem-griditem">
                <select class="w-full text-xs" v-model="nconc_option" :ref="nconc_select_element">
                    <option value="none" selected>&nbsp;None</option>
                    <option value="select">&nbsp;Custom range</option>
                    <option v-for="range in normal_concentration_ranges" :key="range.id" :value="range.id">&nbsp;{{range.source.toUpperCase()}}
                    |{{range.specimen}}|sex:{{range.sex}}|{{range.age}}|c:{{range.condition}}|{{range.min}}-{{range.max}} {{unitSyn(range.unit)}}</option>
                </select>
            </span>
             <button class="row-start-1 col-start-10 col-end-11 generic-bluebutton text-xs" 
            v-show="Object.keys(normal_concentration_ranges).length > 0" @click="filter_open = !filter_open">
                {{filter_open ? 'Close' : 'Filter'}}
            </button>
            <p class="col-start-1 col-end-5 text-xs filteritem-griditem ml-2" v-show="nconc_option == 'select'">Set NC for plots/OOB queries:</p>
            <span class="col-start-6 col-end-8 filteritem-griditem text-xs mb-1 mr-1 justify-end" v-show="nconc_option == 'select'">
                Minimum:&nbsp;
                <input type="text" class="bg-gray-200 mb-1 accent-blue-400 w-[50%] align-middle" v-model="text_nc_min"/>
            </span>
            <span class="col-start-8 col-end-10 filteritem-griditem text-xs mb-1 justify-end" v-show="nconc_option == 'select'">
                Maximum:&nbsp;
                <input type="text" class="bg-gray-200 mb-1 accent-transparent w-[50%]" v-model="text_nc_max"/>
            </span>
            <span class="col-start-10 col-end-11 filteritem-griditem text-xs" v-show="nconc_option == 'select'">&nbsp;{{unitSyn(metabolite_data.unit)}}</span>
        </div>
        <!--Third row: Filter normal concs-->
        <div class="filteritem-container" v-show="filter_open">
            <span class="row-start-1 col-start-1 col-end-3 text-left ml-2 text-xs filteritem-griditem">
                <select class="w-full" v-model="selected_sources">
                    <option v-for="src in ['HMDB']" :value="src">{{src}}</option>
                </select>
            </span>
            <span class="row-start-1 col-start-3 col-end-6 text-left ml-2 text-xs filteritem-griditem">Specimen:&nbsp;
                <select class="w-full" v-model="selected_specimen">
                    <option v-for="specimen in ['Urine', 'Cerebrospinal fluid (CSF)', 'Blood']" :value="specimen.toLowerCase()">{{specimen}}</option>
                </select>
            </span>
            <span class="row-start-1 col-start-6 col-end-8 text-left ml-2 text-xs filteritem-griditem">Age:&nbsp;
                <select class="w-full" v-model="selected_age">
                    <option v-for="age in ['Newborn', 'Infant', 'Children', 'Adolescents', 'Adults']" :value="age.toLowerCase()">{{age}}</option>
                </select>
            </span>
            <span class="row-start-1 col-start-8 col-end-10 text-left ml-2 text-xs filteritem-griditem">Sex:&nbsp;
                <select class="w-full" v-model="selected_sex">
                    <option v-for="sex in ['Female', 'Male', 'Both', 'Not specified']" :value="sex.toLowerCase()">{{sex}}</option>
                </select>
            </span>
            <button class="row-start-1 col-start-10 col-end-11 generic-bluebutton text-xs" @click="applyFilters">Apply</button>
        </div>
        <div class="filteritem-container mb-1 ml-2 border-solid border-[1px] border-gray-200 mr-2 p-1" v-show="box_array[2]">
            <p class="col-start-1 col-end-5 text-xs filteritem-griditem ml-2">Set min/max range for metabolite:</p>
            <span class="col-start-6 col-end-8 text-xs filteritem-griditem">
                min: <input type="text" class="bg-gray-200 ml-1 accent-transparent w-[4rem]" v-model="text_conc_min" @keyup.native.enter="updateSliders" ref="minfield"/>
            </span>
            <span class="col-start-8 col-end-10 text-xs filteritem-griditem">
                max: <input type="text" class="bg-gray-200 ml-1 accent-transparent w-[4rem]" v-model="text_conc_max" @keyup.native.enter="updateSliders" ref="maxfield"/>
            </span>
            <span class="col-start-10 col-end-11 filteritem-griditem text-xs">&nbsp;{{unitSyn(metabolite_data.unit)}}</span>
            <ConcentrationSlider class="col-start-1 col-end-11 filteritem-griditem" v-show="box_array[2] && metabolite_data.metabolite_max != 0"
            :show_normal_conc="nconc_option != 'none'"
            :normal_conc="selected_nconc"
            :metabolite_max="props.metabolite_data!.metabolite_max"
            :metabolite_unit="metabolite_data.unit"
            :id="metabolite_data.id"
            :visible="!!box_array[2]"
            :infer_pos="inferred_pos"
            @report-values="passToTextInputs" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { useStore } from "vuex";
import { customObject } from "@/store";
import { getNormalConcentrationRanges, nconcParams } from "@/modules/query_flask";
import ConcentrationSlider from "@/components/concentration_slider/ConcentrationSlider.vue";

const props = defineProps({
    metabolite_data: Object,
});

const store = useStore();

/**
 * On mounting, any existing normal concentrations for the metabolite are queried.
 * Also, a basic query is created and the sliders are pre-set to the quartiles.
 */
onMounted(async () => {
    normal_concentration_ranges.value = await getNormalConcentrationRanges(props.metabolite_data!.id, createNconcParams());
    createQuery(props.metabolite_data!.metabolite_name, props.metabolite_data!.id, createQueryString());
    text_conc_min.value = 0.0;
    text_conc_max.value = props.metabolite_data!.metabolite_max ? props.metabolite_data!.metabolite_max : 0.0;
});

/**
 * Helper function to re-format certain units.
 * 
 * @param unit - Unit descriptor
 */
const unitSyn = (unit: string): string => {
    if (unit == "um") return "uM"
    if (unit == "mmol/l") return "mmol/L"
    return unit
}

/**
 * Called when a checkbox is clicked.
 * Handles the checkboxes in a way that always exactly one of the boxes is selected.
 * 
 * @param checkbox_number - Number to identify the box that was clicked
 */
const toggleBoxes = (checkbox_number: number): void => {
    for (let cn=0; cn < box_array.value.length; cn++) {
        if (cn != checkbox_number) {
            box_array.value[cn] = 0;
            (document.getElementById(`${props.metabolite_data!.id}_box${cn}`) as HTMLInputElement).checked = false;
        } else {
            box_array.value[cn] = 1;
            (document.getElementById(`${props.metabolite_data!.id}_box${cn}`) as HTMLInputElement).checked = true;
        }
    }
    createQuery(props.metabolite_data!.metabolite_name, props.metabolite_data!.id, createQueryString(text_conc_min.value, text_conc_max.value));
}

/**
 * Creates a query parameter object to query the normal concentration ranges.
 * Used to provide a filter mask.
 */
const createNconcParams = (): nconcParams => {
    let nconc_params = {} as nconcParams;
    if (selected_specimen.value) nconc_params.specimen = selected_specimen.value;
    if (selected_sources.value) nconc_params.source = selected_sources.value;
    if (selected_age.value) nconc_params.age = selected_age.value;
    if (selected_sex.value) nconc_params.sex = selected_sex.value;
    return nconc_params;
}

/**
 * Function that updates the text field values based on concentration sliders.
 * 
 * @param min - Min. value as set by the sliders
 * @param max - Max. value as set by the sliders
 */
const passToTextInputs = (min: number, max: number) => {
    text_conc_min.value = Math.round(min * props.metabolite_data!.metabolite_max*1000)/1000;
    text_conc_max.value = Math.round(max * props.metabolite_data!.metabolite_max*1000)/1000;
    createQuery(props.metabolite_data!.metabolite_name, props.metabolite_data!.id, createQueryString(text_conc_min.value, text_conc_max.value));
}

/**
 * Creates a query consisting of metabolite name, ID and query string.
 * Newly created queries are always set as active.
 * 
 * @param metabolite_name - Name of the metabolite
 * @param metabolite_id - Internal identifier of the metabolite
 * @param query - Query string for the metabolite in current query
 */
const createQuery = (metabolite_name: string, metabolite_id: string, query: string): void => {
    store.dispatch('queryCreate', {'name': metabolite_name, 'id': metabolite_id, 'query': query});
}

/**
 * Caches a particular normal concentration entry in the store.
 * Only one NC is stored per metabolite (can be replaced).
 * 
 * @param metabolite - The metabolite to cache normal concentration for
 * @param range - The normal concentration range ([min, max])
 */
const cacheNormalConc = (metabolite: string, range: [number, number]): void => {
    store.commit('concentrationsNormalCache', {'name': metabolite, 'range': range});
}

/**
 * Creates a query string for use with the flask microservice.
 * 
 * @remarks Query string depends on the user choices (normal conc. included/ min or max specified)
 * 
 * @param min - The minimum value for the metabolite
 * @param max - The maximum value for the metabolite
 * @returns Query string for microservice*/
const createQueryString = (min?: number, max?: number): string => {

    let output = "undefined";
    if (box_array.value[0] == 1) {
        output = props.metabolite_data!.id;
    } else if (box_array.value[1] == 1) {
        output = props.metabolite_data!.id + "|oob|" + selected_nconc.value[0] + "-" + selected_nconc.value[1];
    } else {
        if ((!min && min !== 0) && !max) {
            output = props.metabolite_data!.id;
        } else if ((min || min === 0) && !max) {
            output = props.metabolite_data!.id + "|" + min;
        } else if ((min || min === 0) && max) {
            output = props.metabolite_data!.id + "|" + min + "-" + max; 
        }
    }
    return output;
};

/**
 * Updates slider positions whenever the user enters min/max values into the appropriate text fields.
 */
const updateSliders = (): void => {
    if (minfield.value?.value)
        text_conc_min.value = parseFloat(minfield.value?.value);
    if (maxfield.value?.value)
        text_conc_max.value = parseFloat(maxfield.value?.value);
    inferred_pos.value = [text_conc_min.value!/props.metabolite_data!.metabolite_max, text_conc_max.value!/props.metabolite_data!.metabolite_max];
    createQuery(props.metabolite_data!.metabolite_name, props.metabolite_data!.id, createQueryString(text_conc_min.value, text_conc_max.value));
}

const text_conc_min = ref<number>();
const text_conc_max = ref<number>();
const text_nc_min = ref<number>(Math.round(0.25*props.metabolite_data!.metabolite_max * 1000)/1000);
const text_nc_max = ref<number>(Math.round(0.75*props.metabolite_data!.metabolite_max * 1000)/1000);
const inferred_pos = ref<Array<number>>([0.25,0.75])

const minfield = ref<HTMLInputElement | null>();
const maxfield = ref<HTMLInputElement | null>();

const filter_open = ref<boolean>(false)
const box_array = ref<Array<Number>>([1,0,0])
const normal_concentration_ranges = ref<customObject>({})
const selected_nconc = ref<Array<number>>([])
const nconc_select_element = ref<HTMLSelectElement | null>();

const nconc_option = ref<string>("none")
const selected_specimen = ref<string>("urine"); 
const selected_sources = ref<string>("HMDB"); 
const selected_sex = ref<string>("not specified"); 
const selected_age = ref<string>("adults");  

const customRange_NC = () => {
    selected_nconc.value = [text_nc_min.value, text_nc_max.value];
    cacheNormalConc(props.metabolite_data!.id, [Math.max(0,text_nc_min.value), Math.min(text_nc_max.value, props.metabolite_data!.metabolite_max)]);
}

/**
 * When a new NC value is entered (either min or max), the range is cached.
 */
watch(() => [text_nc_min.value, text_nc_max.value], ([min, max]) => {
    customRange_NC();
});

/**
 * If NC option is set to none, clear the normal conc. entry in the store and the ref.
 * If its a custom range, cache it and set selected_nconc accordingly.
 * If its any other normal concentration, we grab the value and use the range min/max values.
 */
watch(() => nconc_option.value, () => {
    if (nconc_option.value == 'none') {
        store.commit('concentrationsNormalRemove', props.metabolite_data!.id);
        selected_nconc.value.splice(0, selected_nconc.value.length);
    } else if (nconc_option.value == 'select') {
        customRange_NC();
    } else {
        let range = normal_concentration_ranges.value[nconc_select_element.value?.value!];
        selected_nconc.value = [range.min, range.max];
        cacheNormalConc(props.metabolite_data!.id, [Math.max(0,range.min), Math.min(range.max, props.metabolite_data!.metabolite_max)])
    }
    createQuery(props.metabolite_data!.metabolite_name, props.metabolite_data!.id, createQueryString(text_conc_min.value, text_conc_max.value));
})
</script>

<style>

.filteritem-wrapper {
    height: fit-content;
    margin: 0 4px 0 4px;
    overflow-x: hidden;
}

.filteritem-container {
    display: grid;
    grid-template-columns: repeat(10, minmax(0,1fr));
    font-size: small;
    margin-top: 2px;
}

.filteritem-griditem {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.generic-bluebutton {
    background-color: rgb(96 165 250);
    color: white;
    margin: 2px;
    padding-top: 2px;
    border-radius: 5px;
    height: fit-content;
}

.generic-bluebutton:hover {
    color: rgb(251 146 60);
}

.disabled-checkbox {
    color: lightgray;
}

input {
    text-align: left;
    padding-top: 3px;
}

select {
    padding-top: 3px;
}


</style>