<template>
    <div class="w-fit flex justify-start align-middle">
        <button class="float-left h-fit px-1.5 py-1 mr-16 bg-blue-500 text-white hover:text-orange-300 min-w-fit w-[12%]
     shadow-lg rounded-lg" @click="newQuery">New Query</button>
        <router-link to="/table"><button class="menubutton" @click="active_button = 'btn1'" :class="active_button === 'btn1' ? 'activebutton' : 'menubutton'">Table</button></router-link>
        <router-link to="graph"><button class="menubutton" @click="active_button = 'btn2'" :class="active_button === 'btn2' ? 'activebutton' : 'menubutton'">Graph</button></router-link>
        <router-link to="raw"><button class="menubutton" @click="active_button = 'btn3'" :class="active_button === 'btn3' ? 'activebutton' : 'menubutton'">Raw</button></router-link>
        <button class="float-right h-fit px-1.5 py-1 ml-16 bg-blue-500 text-white hover:text-orange-300 min-w-fit w-[12%]
     shadow-lg rounded-lg" @click="saveCurrentResults" :class="{'already-stored': currently_stored}">{{!currently_stored ? 'Save Query Results ' : 'Query Results saved'}}</button>
    </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch, computed } from 'vue';
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';

const route = useRoute();
const store = useStore();
const query_results = computed(() => store.state.query_results);
const currently_stored = computed(() => store.state.query_results_in_storage);
const current_qid = computed(() => store.state.qid);

const emit = defineEmits<{
    (e: 'new-query'): void;
}>();


/**
 * Sets a highlight on the active button based on route.
 */
onMounted((): void => {
    setActiveButton();
})

const setActiveButton = (): void => {
    switch (route.path) {
        case '/table':
            active_button.value = 'btn1';
            break;
        case '/graph':
            active_button.value = 'btn2';
            break;
        case '/raw':
            active_button.value = 'btn3';
            break;
        default:
            active_button.value = 'undefined';
            break;
    }
}

const saveCurrentResults = () => {
    if (!currently_stored.value) {
        store.commit('queryStoredSet', {'content': query_results.value, 'qid': current_qid.value});
        store.commit('queryStoredMetabolitesSet', {
            'qid': current_qid.value,
            'metabolite_list': store.state.stored_metabolites.get(current_qid.value),
        });
    }
}

const newQuery = () => {
    store.commit('concentrationsNormalClear');
    emit('new-query');
}

watch(route, () => {
    setActiveButton();
});

const active_button = ref<string>("undefined");
</script>

<style>
.menubutton {
  background: #f1f1f1;
  min-width: fit-content;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5vh 1vw;
  color: grey;
  margin-left: auto;
}

.activebutton {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5vh 1vw;
  color: grey;
  color: #000;
  background: rgb(147 197 253);
}

.already-stored {
    background: green;
    cursor: default;
}

</style>