<template>
    <div class="fixed left-0 top-14 z-30 h-screen w-screen bg-blue-300 bg-opacity-50" id="outside_modal">
        <div class="mx-auto bg-white mt-[calc(2.5%)] w-fit h-[calc(50%)]" id="in_modal">
            <img :src="image_url"/>
        </div>
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

/**
 * Has one emit:
 * 
 * @param close-modal (emit) - Tells the parent to close this modal
 */
const emit = defineEmits<{
    (e: 'close-modal'): void;
}>();

/**
 * Has one prop:
 * 
 * @param image_url - The plot image to show in this modal
 */
const props = defineProps({
    image_url: String,
})

/**
 * On mounting, sets values for inside and outside the modal and stores them.
 */
onMounted(() => {
    initialized.value = false;
    if(document.getElementById("in_modal") && document.getElementById("in_modal") != undefined) {
        in_modal.value = document.getElementById("in_modal")
    }
    if(document.getElementById("outside_modal") && document.getElementById("outside_modal") != undefined) {
        outside_modal.value = document.getElementById("outside_modal")
    }
    initialized.value = true;
})

/**
 * Shows the modal if a user clicks inside the modal.
 * Closes it if a user clicks outside the modal.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!initialized) {
        return;
    }
    if ((!in_modal.value || !outside_modal.value) || (e.target == outside_modal.value && e.target != in_modal.value)) {
        emit('close-modal')
    }
});


const in_modal=ref<HTMLElement | null>();
const outside_modal=ref<HTMLElement | null>();
const initialized=ref(false);

</script>