<template>
    <div class="border-gray-300 shadow-lg border-solid border-2 mb-1">
        <img :id="image_url" :src="image_url" @mouseup="showModal"/>
        <div v-if="plot_type == 'scatter'" class="plotitem">
            <span class="col-start-1 col-end-2">Select metabolites to plot:</span>
             <select v-model="metabolite_chosen_1" class="col-start-2 col-end-3 w-full" @change="checkEqual">
                <option value="chs" selected disabled>&nbsp;Choose metabolite..</option>
                <option v-for="[metabolite, _] in query_results_metabolites" :value="metabolite">&nbsp;{{metabolite}}</option>
            </select> 
            <select v-model="metabolite_chosen_2" class="col-start-3 col-end-4 w-full" @change="checkEqual">
            <option value="chs" selected disabled>&nbsp;Choose metabolite..</option>
                <option v-for="[metabolite, _] in query_results_metabolites" :value="metabolite">&nbsp;{{metabolite}}</option>
            </select>
            <div class="col-start-4 col-end-5">
                <button :disabled="equal_values || !metab_both_chosen" class="rounded-lg generic-blue-button px-2" @click="commissionPlot">Plot</button>
            </div>
            <div class="col-start-1 col-end-2 row-start-2">
                Select phenotype to visualize:
            </div>
            <div class="col-start-2 col-end-3 row-start-2 w-full">
                <select class="w-full" v-model="phenotype_chosen">
                    <option v-for="pt in selected_phenotypes" :value="pt">&nbsp;{{phenotype_metadata.get(pt).phenotype_raw}}</option>
                    <option value="none">&nbsp;None</option>
                </select>
            </div>
        </div>
        <div v-if="plot_type == 'hist'" class="plotitem">
            <span class="col-start-1 col-end-2">Select metabolite to plot:</span>
             <select v-model="metabolite_chosen_1" class="col-start-2 col-end-3 w-full">
                <option value="chs" selected disabled>&nbsp;Choose metabolite..</option>
                <option v-for="[metabolite, _] in query_results_metabolites" :value="metabolite">&nbsp;{{metabolite}}</option>
            </select>
            <div class="col-start-3 col-end-5 w-full">
                Bins: <input type="number" step="1" class="pl-1 w-[20%] bg-[#eaeaea]" id="plot_bins" v-model="bins_chosen"/>
            </div> 
            <div class="col-start-5 col-end-5 w-full">
                <button :disabled="!metab_1_chosen" class="rounded-lg generic-blue-button px-2 mr-4" @click="commissionPlot">Plot</button>
            </div>
            <div class="col-start-1 col-end-2 row-start-2">
                Select phenotype to visualize:
            </div>
            <div class="col-start-2 col-end-3 row-start-2 w-full">
                <select class="w-full" v-model="phenotype_chosen">
                    <option v-for="pt in selected_phenotypes" :value="pt">&nbsp;{{phenotype_metadata.get(pt).phenotype_raw}}</option>
                    <option value="none">&nbsp;None</option>
                </select>
            </div>
            <div class="col-start-3 col-end-5 row-start-2 mx-auto">
                Style:
                <select class="w-fit" v-model="histstyle">
                    <option value="step|fill">&nbsp;Step, filled</option>
                    <option value="step|nofill">&nbsp;Step, not filled</option>
                    <option value="bars|fill">&nbsp;Bars, filled</option>
                    <option value="bars|nofill">&nbsp;Bars, not filled</option>
                    <option value="poly|fill">&nbsp;Polygon, filled</option>
                    <option value="poly|nofill">&nbsp;Polygon, not filled</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed, onMounted, PropType, ref, watch } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const query_results_metabolites = computed(() => store.state.query_results_metabolites);
const selected_phenotypes = computed(() => store.state.selected_phenotypes);
const phenotype_metadata = computed(() => store.state.phenotype_metadata)

/**
 * Has four emits:
 * 
 * @param new-scatterplot (emit) - Tells the parent to generate a new scatterplot
 * @param new-histogram (emit) - Tells the parent to generate a new histogram
 * @param new-corrmap (emit) - Tells the parent to generate a new heatmap
 * @param show-modal (emit) - Tells the parent to show the plot modal (bigger version of the plot)
 */
const emit = defineEmits<{
    (e: 'new-scatterplot', metabolite1: string, metabolite2: string, url: string): void;
    (e: 'new-histogram', metabolite: string, url: string, histstyle: string, bins?: number): void;
    (e: 'new-corrmap', url: string): void;
    (e: 'show-modal', url: string): void;
}>();

/**
 * Has three props:
 * 
 * @param image_url - The plot image to show
 * @param plot_type - The type of the plot
 * @param metadata - List of the possible metabolites to plot
 */
const props = defineProps({
    image_url: String,
    plot_type: String,
})

onMounted(() => {
    phenotype_chosen.value = selected_phenotypes.value[0];
    if (query_results_metabolites.value && query_results_metabolites.value.length > 0) {
        metabolite_chosen_1.value = query_results_metabolites.value[0][0];
        if (query_results_metabolites.value.length > 1)
            metabolite_chosen_2.value = query_results_metabolites.value[1][0];
    }
    
})

/**
 * Handles commission of new plots
 */
const commissionPlot = (): void => {
    switch(props.plot_type) {
        case "scatter":
            emit('new-scatterplot', metabolite_chosen_1.value, metabolite_chosen_2.value, props.image_url!);
            break;
        case "hist":
            emit('new-histogram', metabolite_chosen_1.value, props.image_url!, histstyle.value, bins_chosen.value);
            break;
        case "corrmap":
            emit('new-corrmap', props.image_url!);
            break;
    }
    
}

/**
 * Handles showing of the modal
 */
const showModal = (): void => {
    emit('show-modal', props.image_url!);
}


const equal_values = computed(() => (metabolite_chosen_1.value == metabolite_chosen_2.value));
const metab_1_chosen = computed(() => (metabolite_chosen_1.value != "chs"));
const metab_both_chosen = computed(() => (metabolite_chosen_1.value != "chs" && metabolite_chosen_2.value != "chs"));

const metabolite_chosen_1 = ref<string>("chs");
const metabolite_chosen_2 = ref<string>("chs");
const bins_chosen = ref<number>(30);
const phenotype_chosen = ref<string>("none");
const histstyle = ref<string>("step|fill");
</script>

<style>

.plotitem {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content,max-content)),1fr;
    margin-left: 1rem;
    justify-items: left;
    align-self: center;
    row-gap: 4px;
    column-gap: 4px;
}

</style>