<template>
    <div class="pt-[2%]">
    <span v-if="Object.keys(query_results).length" class="text-xs text-gray-400">For some browsers, the horizontal scrollbar does not seem to appear on the table. Please use the arrow keys for horizontal scrolling in that case.</span>
    <div v-if="Object.keys(query_results).length">
      <ag-grid-vue
        class="ag-theme-alpine w-[calc(85%)] mx-auto"
        :columnDefs="column_defs"
        :rowData="row_data"
        style="height: 750px"
        :alwaysShowHorizontalScroll="true"
        :pagination="true"
        :paginationAutoPageSize="true"
      />
    </div>
    </div>
</template>

<script setup lang="ts">
import 'ag-grid-community/dist/styles/ag-grid.css';
import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
import { AgGridVue } from "ag-grid-vue3";
import { computed, onMounted, onUnmounted, ref, watch } from 'vue';
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';

const router = useRoute();
const store = useStore();

const query_results = computed(() => store.state.query_results);
const concentrations_normal = computed(() => store.state.concentrations_normal);
const query_mode = computed(() => store.state.query_results_mode);
const selected_phenotypes = computed(() => store.state.selected_phenotypes);
const phenotype_metadata = computed(() => store.state.phenotype_metadata);

interface customObject {
    [key: string]: any,
};

/**
 * On mounting, converts query results to table format and updates the column references.
 */
onMounted(async (): Promise<void> => {
  const path = computed(() => router.path);
  console.log(query_results.value);
  if (path.value == "/table" && Object.keys(query_results.value).length) {
    await queryResultsToTableObject().then(() => {updateColDefs();});
  }
});

/**
 * On unmounting the view, save the last view path for seamlessness
 */
onUnmounted((): void => {
    store.commit('miscSetViewPath', "/table");
})

/**
 * Updates the column references to reflect the different metabolites.
 */
const updateColDefs = (): void => {
  console.log(store.getters.metabolitesCurrentList(query_mode.value))
  column_defs.value = [{
    headerName: 'ID',
    field: 'source_id',
    filter: 'agTextColumnFilter',
    sortable: 'true',
    minWidth: 200,
    pinned: 'left',
  }]
  for (let element of store.getters.metabolitesCurrentList(query_mode.value)) {
    console.log(element);
    column_defs.value.push({
      headerName: element[0] + "\n (" + (element[1] ? element[1] : "mmol/L") + ")",
      headerClass: {'textAlign': 'left'},
      field: `${element[0].toLowerCase().replace(" ", "_")}`,
      filter: 'agNumberColumnFilter',
      sortable: 'true',
      type: 'numericColumn',
      minWidth: 200,
      cellStyle: (params: customObject) => {
        let style_obj = concentrations_normal.value?.has(element[0].toLowerCase().replace(" ", "_")) ? (checkInNormalConcBounds(params.value, element[0].toLowerCase().replace(" ", "_")) ? {'background': "rgba(46, 204, 20, .4)"} : {'background': "rgba(200, 38, 19, .3)"}) : {'background-color': "white"};
        style_obj['textAlign'] = 'left';
        return style_obj;
      },
    })
  }
  for (let pt of selected_phenotypes.value) {
    column_defs.value.push({
      headerName: phenotype_metadata.value.get(pt).phenotype_raw,
      headerClass: {'textAlign': 'left'},
      field: pt,
      filter: 'agTextColumnFilter',
      sortable: 'true',
      cellStyle: {'textAlign': 'left'},
      minWidth: 200,
    })
  }
}

/**
 * Checks if the value contained in a table cell is in the according normal concentration bounds.
 * 
 * @param cell_value - Concentration value from table cell
 * @param metabolite - Metabolite in question
 * @returns true if contained, false if not
 */
const checkInNormalConcBounds = (cell_value: number, metabolite: string): boolean => {
  let nconc: [number, number]|undefined = concentrations_normal.value?.has(metabolite) ? concentrations_normal.value?.get(metabolite) : undefined;
  if (nconc == undefined || (cell_value < nconc[0] || cell_value > nconc[1]) ) {
    return false;
  }
  return true;
} 

/**
 * Turns the current query results into an object in ag-grid table format.
 */
const queryResultsToTableObject = async (): Promise<void> => {
  row_data.value = new Array<customObject>();
  if (!Object.keys(query_results.value).length) {
    return;
  }
  for (let study in query_results.value) {
    if(!study) {
      continue
    }
    for (let source_id in query_results.value[study]) {
      let new_row: customObject = {'source_id': source_id};
      Object.keys(query_results.value[study][source_id]).forEach((key) => {
        if (selected_phenotypes.value.includes(key)) {
          new_row[key] = query_results.value[study][source_id][key]
        }
        else {
          new_row[key.toLowerCase().replace(" ", "_")] =  query_results.value[study][source_id][key]['value']
        }
      })
      row_data.value.push(new_row)
    }
  }
}

const row_data=ref<Array<customObject>>([]);
const column_defs=ref<Array<Object>>([]);

/**
 * If query results change, perform the same actions as in mounting step
 */
watch(() => query_results.value, async (): Promise<void> => {
  const path = computed(() => router.path);
  if (path.value == "/table" && Object.keys(query_results.value).length) {
    await queryResultsToTableObject().then(()=> {updateColDefs();});

  }
});
</script>

<style>
.ag-header-cell-label .ag-header-cell-text {
   white-space: pre-wrap !important;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}


</style>