<template>
    <div class="mx-auto w-full overflow-x-hidden pt-[2%]">
        <p v-if="query_results">
            Pick a patient to plot the raw spectrum for:
        </p>
        <input type="text" ref="source_selector" list="id_suggestions" class="w-[calc(25%)] bg-[#eaeaea]" v-if="query_results" value=""/>
        &ensp;<button class="px-3 py-0.5 rounded-lg shadow-lg bg-blue-500 text-white hover:text-orange-300 text-l mt-2" @click="queryRawSpectrum" v-if="query_results">Draw</button>
        <datalist id="id_suggestions">
            <option v-for="source in all_sources" :value="source"/>
        </datalist>
        <p v-if="query_results" class="text-xs text-gray-400">(technically, every valid ID works - however, the suggested IDs are only from the query subset. Press the down arrow to activate suggestions)</p>
        <p v-if="query_results && spectral_data" class="text-xs text-gray-400">Intensity peaks are capped at 600000 to provide a more coherent plot. Usually, values can range from the low thousands to over 30 million.</p>
        <Chart :data="spectral_data" :margin="margin" :axis="axis" :size="{width: 1280, height: 800}" v-if="spectral_data && query_results" class="ml-[15%]">
            <template #layers>
                <Grid strokeDasharray="2,2" />
                <Line :dataKeys="['ppm', 'mag']" type="monotone" :lineStyle="{ stroke: 'blue'}" :hideDot="true"/>
            </template>
        </Chart>
        <p v-if="selected_source != 'None'">{{selected_source}}</p>
    </div>
</template>

<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref, watch } from 'vue';
import { Chart, Line, Grid } from 'vue3-charts';
import { getRawSpectrum_Bruker, getSourcesInStudy } from '@/modules/query_flask';
import { useStore } from 'vuex';

interface customObject {
    [key: string]: any,
}

const store = useStore();
const query_results = computed(() => store.state.query_results);
const studies_all = computed(() => store.state.studies_all);

/**
 * On mounting, creates a selection of IDs that raw spectra can be drawn for.
 * It also queries the first raw spectrum if an ID is in the textfield.
 */
onMounted (async () => {
    await createSelection();
    queryRawSpectrum();
})

/**
 * On unmounting the view, save the last view path for seamlessness
 */
onUnmounted((): void => {
    store.commit('miscSetViewPath', "/raw");
})


/**
 * Queries a raw spectrum using the flask and R microsevices.
 */
const queryRawSpectrum = async () => {
    selectSource();
    source_selector.value!.value = <string>selected_source.value;
    let query_result = await getRawSpectrum_Bruker(normalizeRawSource(<string>selected_source.value), "AKI");
    if (query_result instanceof Object) {
        spectral_data.value = query_result;
    }
}

/**
 * Normalizes a query ID to fit a particular file format.
 * Currently only implemented for AKI.
 * 
 * @remarks For AKI, should e.g. turn "AKI_1" into "AKI_001" and "AKI_17" into "AKI_017".
 *          Conversely, it should leave IDs that are already in correct format alone.
 * 
 * @param raw_id - The ID written into the text field
 */
const normalizeRawSource = (raw_id: string): string => {
    if (raw_id.includes("AKI_")) { // AKI IDs look like this: "AKI_[ID]"
        raw_id = raw_id.replace("AKI_",""); //Cut out the AKI part as only the number is needed
        let raw_id_int = parseInt(raw_id, 10)
        if (raw_id_int < 10 ) {raw_id = "00" + raw_id_int.toString();}
        else if (raw_id_int < 100) {raw_id = "0" + raw_id_int.toString();}
    }
    return raw_id;
}

/**
 * Selects the source from the textfield and keeps it as a string.
 */
const selectSource = () => {
    if (source_selector.value && source_selector.value.value != "None") {
        localStorage.setItem('selected_raw_source', source_selector.value.value);
    }
    selected_source.value = localStorage.getItem('selected_raw_source')
}

/**
 * Creates a selection of IDs that raw spectra can be drawn for.
 * Currently works for the following studies:
 * - AKI
 */
const createSelection = async () => {
    if (query_results.value.length) {
        for (let study_id of Object.keys(query_results.value)) {
            if (study_id == "AKI") {
                Object.keys(query_results.value[study_id]).forEach(key => {
                    all_sources.value.push(key);
                })
            }
        }
    } else {
        let default_study = studies_all.value[0];
        let source_list = await getSourcesInStudy(default_study);
        if (source_list) {
            source_selector.value!.value = Object.keys(source_list)[0];
            Object.keys(source_list).forEach((source: string) => {
                all_sources.value.push(source);
            })
        }
    }
    
    all_sources.value.sort();
}

const spectral_data = ref<Array<customObject>>([]);
const all_sources = ref<Array<string>>([]);
const source_selector=ref<HTMLInputElement | null>();
const selected_source = ref<string|null>("None")

const axis = ref({
      primary: {
        type: 'linear'
      },
      secondary: {
        type: 'linear',
      }
    })

const margin = ref({
      left: 10,
      top: 20,
      right: 10,
      bottom: 0
    })

/**
 * Refreshes the selection if query results change.
 */
watch(() => query_results.value, () => {
    createSelection();
});

</script>