<template>
    <!--InfoModal v-if="info_visible_state" :content="info_to_show" class="ml-[21%] absolute"/>-->
    <!----<Sidebar/>-->
    <QueryModal v-if="qm_open" @close-modal="qm_open = false"/>
    <div class="mt-16 w-full h-full">
        <RadioMenu class="radiomenu z-20" v-show="Object.keys(query_results).length" @new-query="qm_open = true"/>
        <div class="overflow-auto">
            <router-view v-slot="{Component, route}">
                <component :is="Component"/>
            </router-view>
        </div>
    </div>
    

</template>

<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import RadioMenu from "@/components/radio_menu/RadioMenu.vue";
import { useStore } from "vuex";
import { testCookie } from "@/modules/query_flask";
import QueryModal from "@/components/query/QueryModal.vue";

const store = useStore();
const query_results = computed(() => store.state.query_results);

const testLogin = async () => {
    let tc = await testCookie();
    message.value = await tc.json();
}

onMounted(() => {
    if (!Object.keys(query_results.value).length) {
        qm_open.value = true;
    } 
})

const message = ref<string>("");
const qm_open = ref<boolean>(false);
</script>

<style>

.radiomenu {
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

</style>