<template>
    <div class="download">
        <DownloadSourceModal v-if="source_modal_shown" :file_list="modal_filenames" @close-modal="source_modal_shown = false" @choose-files="downloadSource"/>
        <DownloadFileGenModal v-if="filegen_modal_shown" @close-modal="filegen_modal_shown = false" @choose-filetype="generateFile"/>
        <p class="mx-auto text-2xl font-bold">Download Data</p>
        <div class="w-full h-[650px]">
            <div class="mx-[20%] flex w-[60%] h-[100%] items-stretch">
                <DownloadSelection class="bg-white w-[25%] h-full shadow-lg">
                    <div class="h-fit max-h-[49%] overflow-y-auto">
                        <DownloadSelectionSeparator show_text="--- Studies ---"/>
                        <DownloadSelectionItem v-for="item in studies_all" :show_text="item"/>
                    </div>
                    <div class="h-fit max-h-[49%] overflow-y-auto">
                        <DownloadSelectionSeparator show_text="--- Query Results ---"/>
                        <p v-if="!Object.keys(query_results).length" class="mx-auto text-center text-xs text-gray-400 break-normal">Generate query results by clicking on "Browse"!</p>
                        <DownloadSelectionItem v-if="Object.keys(query_results).length" show_text="Last Query"/>
                        <DownloadSelectionItem v-for="qid in stored_query_results.keys()" :key="qid" :qid="qid" :show_text="qid" :deletable="true"/>
                    </div>
                </DownloadSelection>
                <DownloadTypePicker class="border-solid w-[70%] h-full shadow-lg" @download="initiateDownload"/>
            </div>
            <!--<button class="w-[15%] mx-auto py-2 rounded-lg shadow-lg bg-blue-500 text-white hover:text-orange-300 text-l mt-2">Download</button>-->
        </div>
        <p v-if="message" class="mt-4 text-xl text-gray-400 mx-auto">{{message}}</p>
   </div>
</template>

<script setup lang="ts">
import { useStore } from 'vuex';
import DownloadSelection from "../components/data_download/DownloadSelection.vue";
import DownloadSelectionItem from "@/components/data_download/DownloadSelectionItem.vue";
import { computed, onMounted, ref } from 'vue';
import DownloadSelectionSeparator from '../components/data_download/DownloadSelectionSeparator.vue';
import DownloadTypePicker from '../components/data_download/DownloadTypePicker.vue';
import { flaskGetStudies, flaskGetMetabolites, flaskFilterByMetabolites } from '@/modules/handle_flask_output';
import { getStudyData, getSourceFile, getSourceArchive, getCSV } from '@/modules/query_flask';
import DownloadSourceModal from '@/components/data_download/DownloadSourceModal.vue';
import DownloadFileGenModal from '@/components/data_download/DownloadFileGenModal.vue';

const store = useStore();
const studies_all = computed(() => store.state.studies_all);
const query_results = computed(() => store.state.query_results);
const download_selected_item = computed(() => store.state.download_selected_item);
const studies_selected = computed(() => store.state.studies_selected);
const metabolites_all = computed(() => store.state.metabolites_all);
const stored_query_results = computed(() => store.state.stored_results);
const stored_metabolites = computed(() => store.state.stored_metabolites);
const current_qid = computed(() => store.state.qid);

interface customObject {
    [key: string]: any
};

/**
 * Query studies on mounting the download view, if they are not already queried.
 * Then set the first entry as currently selected item.
 */
onMounted(async () => {
    if (!studies_all.value || !studies_all.value.length) {
        await flaskGetStudies();
    }
    if (!download_selected_item.value || download_selected_item.value == "") store.commit('downloadSelectedSet', studies_selected.value[0])
})

/**
 * Handles the different download types depending on user selection.
 * 
 * @param download_type - The preferred format, set by the user
 */
const initiateDownload = (download_type: string): void => {
    message.value = "";
    switch (download_type) {
        case 'json':
            downloadJSON();
            break;
        case 'plot':
            downloadPlots();
            break;
        case 'gen':
            downloadGeneratorDialogue();
            break;
        case 'source': //Only for studies
            downloadSourceDialogue();
            break;
        default:
            return;
    }
}

/**
 * Turns the data subset associated with the currently selected download item into JSON and prepares for download.
 * 
 * @remarks Resulting filename is the selected item with a .json extension.
 */
const downloadJSON = async (): Promise<void> => {
    let download_subset = await generateDownloadSubset(download_selected_item.value);
    if (download_subset) 
        prepareForDownload(download_selected_item.value + '.json', new Blob([JSON.stringify(download_subset[0])], {type: 'application/json'}));
    store.commit('queryTempClear');
}

/**
 * Opens a dialogue allowing to download data in a specified format.
 * Events in the dialogue are handled through an emit back to this view.
 */
const downloadGeneratorDialogue = (): void => {
    filegen_modal_shown.value = true;
}

/**
 * Opens a dialogue allowing to download specific source files associated with a study.
 * Events in the dialogue are handled through an emit back to this view.
 */
const downloadSourceDialogue = async (): Promise<void> => {
    let selected_study_data = await getStudyData(download_selected_item.value);
    let filenames: string[] = selected_study_data.study_files;
    if (filenames.length) {
        modal_filenames.value = filenames;
        source_modal_shown.value = true;
    } else {
        message.value = "No (accessible) source files were found for the selected study."
    }
    
}

/**
 * Downloads one or more source files.
 * Two or more source files are combined into an archive in the flask microservice.
 * 
 * @remarks Called when download dialogue (DownloadSourceModal) throws the according emit (choose-files).
 * 
 * @param filenames - List of files to download
 */
const downloadSource = async (filenames: string) => {
    if (filenames.split(";").length == 1) {
        await getSourceFile(filenames, download_selected_item.value).then((res) => {
            if (res) {
                prepareForDownload(filenames, res);
            }
        });
    } else if (filenames.length > 1) {
        await getSourceArchive(filenames, download_selected_item.value).then((res) => {
            if (res) {
                prepareForDownload(download_selected_item.value + "_sources.tar.gz", res);
            }
        });
    }
}

/**
 * Tells backend to generate a file of a specified format.
 * 
 * @remarks Called when download dialogue (DownloadFileGenModal) throws the according emit (choose-filetype). Currently implemented: csv
 * 
 * @param filetype - Format of the file to generate
 * @param params - Additional params (e.g. separator, filename..)
 */
const generateFile = async (filetype: string, params: customObject) => {
    let download_subset = await generateDownloadSubset(download_selected_item.value);
    let subset_data = download_subset![0]
    let subset_metabolites = download_subset![1]
    switch (filetype) {
        case 'csv':
            await getCSV(params, subset_data, subset_metabolites).then((res) => {
                console.log(res)
                if (res) prepareForDownload(params.filename, res)
            });
            break;
        default:
            return;
    }
}

/**
 * Generates a data subset based on a string. Can be a study or the name of a query.
 * 
 * @param subset_descriptor - Data subset descriptor string 
 * @returns [data, included metabolites]
 */
const generateDownloadSubset = async (subset_descriptor: string) => {
    if (!metabolites_all.value.length) await flaskGetMetabolites();
    if (studies_all.value.includes(subset_descriptor)) {
        let temp_metabolite_map = await store.getters.metabolitesAllQuery;
        await flaskFilterByMetabolites(temp_metabolite_map, "", "", "temp", "full");
        return [store.state.temp_results, metabolites_all.value.map((mt: customObject) => mt.id)];
    } else if (subset_descriptor == "Last Query") {
        return [query_results.value, stored_metabolites.value.get(current_qid.value)];
    } else if (stored_query_results.value.has(subset_descriptor)) {
        return [stored_query_results.value.get(subset_descriptor), stored_metabolites.value.get(subset_descriptor)];
    }
}

const downloadPlots = (): void => {return;}


/**
 * Executes downloading step for an arbitrary blob.
 * 
 * @param filename - Filename to use for download
 * @param blob - BLOB
 */
const prepareForDownload = (filename: string, blob: Blob): void => {
  const nav = (window.navigator as any);
  if (nav && nav.msSaveOrOpenBlob) { //IE
    nav.msSaveOrOpenBlob(blob, filename)
  } else { //Chrome, Firefox..
    const a = document.createElement('a');
    const url = window.URL.createObjectURL(blob);
    a.href = url;
    a.download = filename;
    a.click();
    window.URL.revokeObjectURL(url);
    a.remove();
  }
}

const source_modal_shown = ref<boolean>(false);
const filegen_modal_shown = ref<boolean>(false);
const modal_filenames = ref<Array<string>>([]);
const message = ref<string>("");
</script>



<style>
.download {
    background: white;
    height: 100%;
}
</style>
