<template>
<div class="mx-auto text-left w-[70%] bluelinks about-container" id="top">
    <p class="text-bold text-center text-3xl underline">About MetaboSERV</p>
    MetaboSERV is an open-source web <b>repository for metabolomics data</b>, with a focus on already annotated research results
     such as <b>metabolic profiles/fingerprints</b> derived from nuclear magnetic resonance (NMR) and hyphenated mass spectrometry (MS) experiments.
    <br><br>
    It offers the following functionality:
    <ul style="list-style-type:disc" class="ml-8">
        <li>Automatic parsing of the following file formats: CSV, TSV, XLSX</li>
        <li>Allows users to browse, query, compare and filter the contained data</li>
        <li>Inclusion of additional data such as normal metabolite concentrations</li>
        <li>Integration of different data sets</li>
        <li>Generation of files for data subsets or data set combinations</li>
        <li>Management of access permissions for each data set</li>
        <li>Visualization options</li>
    </ul>
    <br>
    Feel free to try out MetaboSERV's features on example data by navigating to the <a href="/graph">browsing section</a>, or <a href="/upload">upload some data</a>! 
    <br><br>
    <p class="text-bold text-2xl underline">Additional information</p><br>
    The documented source code can be found at {LINK}.<br>
    Docker containers for a self-managed instance of MetaboSERV can be found at {LINK}. Please refer to the setup guide below.
    <br><br>
    On this page, you can further find:
    <ul style="list-style-type:disc" class="ml-8">
        <li>A short <a href="#tutorial">tutorial</a> on using MetaboSERV</li>
        <li>A A <a href="#format">format specification</a> for your data files. Data must adhere to the format to be processed.</li>
        <li>A list of <a href="#faq">frequently asked questions</a> (FAQ)</li>
        <li>A <a href="#setup">setup guide</a> for those who want to manage their own MetaboSERV instance</li>
        <li>A <a href="#cite">citation guide</a> for MetaboSERV</li>
    </ul><br>
    Still have questions that are not answered in the FAQ? Feel free to <a href="mailto:timtucholski@web.de">contact us</a>.
    <br><br>
    <div id="tutorial">
        <p class="text-bold text-xl underline">How to use MetaboSERV</p><br>
        Ein Tutorial mit einigen Screenshots von MetaboSERV
    </div>
    <br><br>
    <div id="format">
        <p class="text-bold text-xl underline">Format specifications</p><br>
        <b>Concentration data</b> should be provided in a CSV, TSV or XLS(X) file.<br>
        Either the rows or the columns should contain identifiers for individual sources (e.g. patients), with the counterpart containing metabolite identifiers.
        Whether the metabolite identifiers or the source identifiers are kept in the rows or in the columns can be freely chosen.
        Metabolite identifiers are treated as case-insensitive and checked against a list of synonyms obtained from the Human Metabolome Database (HMDB).
        It is also possible to denote units that particular metabolites are measured in by putting them in square brackets, such as <i>Leucine [mmol/L]</i>
        (noch nicht in der öffentlichen Version :D ).
        If no unit is provided, mmol/L will be used as a default.<br>
        All other cells should contain numerical values that denote the particular metabolite level for each source. NAs are also admissible.
        Identifiers should be unique with regards to the uploaded file. It is also possible to provide an "ID Prefix" which will be prepended to every identifier in the database.
        In the case of XLS or XLSX files, only one sheet should be used. MetaboSERV currently does not support parsing any sheet beyond the first one.
        <p/><br>
        <b>Phenotype data</b>, similar to concentration data, can be provided in CSV, TSV and XLS(X) formats. There are two mandatory columns: One denoted as 'id' which should contain source identifiers, and one denoted as 'phenotype'
        containing the phenotype levels (e.g. <i>healthy</i> and <i>afflicted</i>). A name for the phenotype (e.g. <i>Acute Kidney Injury</i>) can also be provided during the upload process,
         which will be used to match the particular phenotype with existing entries in the database.
        All other columns are treated as metadata regarding the collection of the particular phenotype.
        An "ID Prefix", which will be prepended to all provided identifiers in the 'id' column, can also be provided.
        <p/><br>
        <b>Metadata for the study</b> can be provided in the form of a YAML file. It is recommended to set the mandatory metadata attributes such as study authors,
        specimen etc. directly. Any additional metadata can be given in the form of key-value pairs and will be stored in the MetaboSERV database, as well as shown in the MetaboSERV interface.
        <p/><br>
        Example files for all three formats can be found at #TODO#.
    </div>
    <br><br>
    <div id="faq">
        <p class="text-bold text-xl underline">Frequently Asked Questions</p><br>
        FAQ
    </div>
    <br><br>
    <div id="setup">
        <p class="text-bold text-xl underline">Setting up a MetaboSERV instance (WIP)</p><br>
        There are <b>three ways</b> to set up a MetaboSERV instance:
        <ol style="list-style-type: decimal;" class="ml-8">
            <li>Downloading the source code and building your own Docker images</li>
            <li>Downloading pre-built MetaboSERV Docker images and configuring them</li>
            <li>Downloading the source code and running all modules natively (no Docker)</li>
        </ol>
        The third option is not recommended and will also not be explained on this page.<br><br>
        <p class="text-bold text-l underline">Building MetaboSERV Docker images</p><br>
        <ol style="list-style-type: decimal;" class="ml-8">
            <li>Make sure Docker and Docker-Compose are installed on your system and ensure you have the necessary permissions.</li>
            <li>Download the <b>source code</b> from <a href="https://gitlab.gwdg.de/metaboserv">the according GitLab repository</a>.
             You will require the Backend Service and the Web Application. The Raw Data Parser is optional if you want to visualize Bruker spectra.
             The easiest way to download the modules is to simply clone the according projects.</li>
            <li>Download the according <b>Docker-compose file</b> from <a href="https://owncloud.gwdg.de/index.php/s/sUmM1nv5ySCGIsD">here</a>
              (temporary link, will be replaced later). Place it in the root folder (i.e. the same folder where the folders for the other modules are).
              Then configure it to suit your environment:
              <ul style="list-style-type:disc" class="ml-8">
                <li>You can change the container names and volume name for the database (es_data) freely.</li>
                <li>The name denoted under 'image' is the image name Docker will use for the built images later. You can change them,
                    but if you want to use pre-built images at some point make sure the names match.
                </li>
                <li>If you renamed the module folders, you might have to change the path denoted under 'build'.</li>
                <li>The ports for any service can be changed to suit your environment.</li>
                <li>For Elasticsearch, you can enable https (but you will need to provide a CA-signed certificate) and toggle user/password authentication. You can also choose 
                    to increase the maximum RAM that Elasticsearch will allocate by changing the <pre>ES_JAVA_OPTS</pre> parameter, e.g. from 256m to 1g.</li>
                <li>For the Raw Data Parser: Replace <pre>/path/to/your/spectra/</pre> with the folder your raw spectra are in.</li>
              </ul>
              </li>
            <li>Pull the <b>latest Elasticsearch image</b> from DockerHub (<pre>docker pull docker.elastic.co/elasticsearch/elasticsearch:8.8.2</pre>).</li>
            <li><b>Configure the Backend Service</b> by opening the file <pre>metaboserv_conf_docker.yml</pre>.
            There are some things that can be set here:
            <ul style="list-style-type:disc" class="ml-8">
                <li>Most importantly, you should change the password for the MetaboSERV admin user (<pre>flask.jwt_password</pre>) and the cipher for JWT generation (<pre>flask.jwt_key</pre>).</li>
                <li>Make sure to change the Elasticsearch username and password. You can set a new login for the elasticsearch container like this:
                     <a href="https://discuss.elastic.co/t/set-password-and-user-with-docker-compose/225075">Link</a></li>
                <li>Set <pre>database.port</pre> to where Elasticsearch is running (if you changed it) and optionally <pre>database.spectra_port</pre> 
                to where the Raw Data Parser is running. <pre>flask.port</pre> denotes the port the Backend Service will use. The ports will have to line up
                with the ones set in the Compose-File to avoid problems.</li>
                <li>For other configuration options, refer to the <a href="https://gitlab.gwdg.de/metaboserv/metaboserv-backend">Backend Service GitLab Repository</a>.</li>
            </ul>  
            </li>
            <li>The <b>web application</b> has to know where the Backend Service is running. To do that, navigate to <pre>metaboserv-frontend/src/modules/query_flask.ts</pre>
             and change the line <pre>export const api_link: string = "http://localhost:9201/metaboserv-api/v1/"</pre> if necessary. If you did not change
             the API path (<pre>flask.path</pre> in the Backend Service configuration) and the port and if both services are running on the same machine, 
             no change should be necessary.</li>
             <li>The services are configured now. Navigate to the root folder and call <pre>docker-compose build</pre> to <b>build the images</b>.
             This should take a few minutes at most for the Backend and web application services, but can take a while for the Raw Data Parser.
             The reason for that is that R packages do not come pre-compiled, and the packages used by MetaboSERV have a lot of dependencies.</li>
             <li>Once the images are built, you can verify that their names line up with the ones stated in the Compose-file using 
                <pre>docker image ls</pre>. If they don't, you can use <pre>docker tag [image] [new_name]</pre> to fix it. <b>Start containers</b> using 
                the images by executing <pre>docker-compose up</pre>. You can also add the <pre>-d</pre> flag to run it in the background. <pre>docker-compose down</pre>
                will stop the containers.</li>
            <li>MetaboSERV should now be running and you should see four different containers being started. Navigate to <pre>http://localhost:[port]/metaboserv</pre>
            to verify. The default port is 9202.</li>
        </ol>
    </div>
    <br><br>
    <div id="cite">
        <p class="text-bold text-xl underline">Citing MetaboSERV</p><br>
        If MetaboSERV played a major part in your publication, please cite the following paper:<br>
        {PAPER WENN GEPUBLISHED}<br>
        Ready-made citation in BibTeX format:<br>
        {BIBTEX CODEBLOCK}
    </div>
</div>
</template>

<script setup lang="ts">

</script>

<style>

.bluelinks a {
    color: rgb(59 130 246);
}

pre {
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    border: 1px #f3f3f3 solid;
    margin-bottom: 2px;
}

.about-container {
    line-height: 2rem;
}

</style>
