<template>
<div class="w-[60%] mx-auto">
    <p class="mx-auto font-bold text-2xl">Upload Data</p>
    <div class="upload shadow-lg">
        <div class="col-start-1 col-span-1 m-[8px] border-gray-400 border-[1px] border-solid h-[550px] overflow-hidden">
            <p class="text-xl mx-auto mt-2 font-bold">Select your files:</p>
            <form enctype="multipart/form-data" method="post" class="m-[8px]">
                <div class="upload-fields">
                    <label for="datafile" class="mt-2 font-bold">Concentration data:</label> 
                    <input required name="datafile" type="file" @change="setConcentrationFile" 
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,text/csv,text/tab-separated-values"/>
                </div>
                <div class="text-left text-gray-400 text-xs mt-2">
                    Accepted formats: CSV, TSV, XLSX. Make sure your data adheres to the MetaboSERV format specification described in the <router-link to="/about">About</router-link>
                    section of MetaboSERV. All files will be validated before they can ultimately be processed and stored in the database. 
                </div>
                <div class="upload-fields">
                    <label for="metadatafile" class="mt-2 font-bold">Study Metadata:</label> 
                    <input name="metadatafile" type="file" @change="setMetadataFile"
                    accept="text/csv,text/tab-separated.values,application/yaml"/>
                </div>
                <div class="text-left text-gray-400 text-xs mt-2">
                    Metadata is totally optional except for the mandatory fields on the right. It can be provided in the following formats: YAML, CSV, TSV.
                    You can also adjust the metadata manually later. This should include general metadata such as dates, used instruments, specimen etc. Experimental
                    metadata should be included in the next file.
                </div>
                <div class="upload-fields">
                    <label for="phenofile" class="mt-2 font-bold">Phenotypical Data:</label> 
                    <input name="phenofile" type="file" @change="setPhenoFile"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,text/csv,text/tab-separated.values"/>
                </div>
                <div class="text-left text-gray-400 text-xs mt-2">
                    Optional file to add phenotypical data to the study. Accepted formats: TSV, CSV, XLSX. Non-mandatory columns are taken as experimental metadata, 
                    e.g. describing the process of sample collection for phenotypical data.
                </div>
                <br>
                Raw data can currently not be uploaded.
                <div class="text-left text-gray-400 text-xs mt-2">
                    Due to the nature of MetaboSERV and the volume of generated experimental data, we currently do not support the upload of 
                    raw NMR or MS frequency data to the public MetaboSERV instance. Please consider creating your own MetaboSERV instance if you require this feature.
                </div>
                <ul class="text-left mt-4 ml-8 bluelinks text-xs" style="list-style-type:disc">
                    <li>Unsure about the formatting? Check the <router-link to="/about#format">format specifications</router-link>.</li>
                    <li>Do you have further questions and/or are experiencing bugs? Check the <router-link to="/about#faq">FAQ</router-link> or <a href="mailto:timtucholski@web.de">contact us</a>.</li>
                </ul>
                <div v-if="status_message" :class="status_message.startsWith('Success') ? 'text-green-500' : 'text-red-500'" class="text-xs text-left">
                    {{status_message}}
                </div>
            </form>
        </div>
        <div class="upload-info h-[550px] border-gray-400 border-[1px] border-solid overflow-hidden">
            <p class="text-xl mx-auto mt-2 font-bold">Mandatory metadata:</p>
            <form method="post" class="md-modal justify-end m-[8px]">
                <label for="name">Study Title:</label> <input required type="text" class="bg-gray-200 pl-1 inline break-words" id="name" v-model="md.study_id"
                pattern="[a-zA-Z0-9_ ]*" @input="checkAuthorAndID" @change="checkExistConflict"/>
                <label v-if="exists_conflict"></label><span v-if="exists_conflict" class="text-left text-xs text-red-500">Sorry, this name is already taken!
                </span>
                <label></label><span class="text-left text-xs text-gray-400">Letters, numbers, and the underscore symbol '_' can be used for a valid study name.
                </span>
                <label for="authors">Authors:</label> <input required type="text" class="bg-gray-200 pl-1 inline break-words" id="authors" v-model="md.study_authors"
                pattern="[\p{L}\p{M},\.\- ]*" @input="checkAuthorAndID"/><!--Matches any diacritic from any language-->
                <label></label><span class="text-left text-xs text-gray-400">Please only use letters (including any diacritics from any language) and the comma and dot
                    symbols to indicate study authors. A blue border around the text field indicates that your author description is valid.
                </span>
                <label for="specimen">Specimen:</label> <select required class="bg-gray-200 pl-1 pt-2" id="specimen" v-model="md.study_type" @change="checkMD">
                    <option selected disabled value="">Choose specimen</option>
                    <option value="serum">Serum</option>
                    <option value="plasma">Plasma</option>
                    <option value="urine">Urine</option>
                    <option value="feces">Feces</option>
                    <option value="csf">CSF</option>
                    <option value="other">Other</option>
                </select>
                <label for="method">Method:</label> <select required class="bg-gray-200 pl-1 pt-2" id="method" v-model="md.study_method" @change="checkMD">
                    <option selected disabled value="">Choose analytical method</option>
                    <option value="">No Information/Unknown</option>
                    <option value="nmr">NMR</option>
                    <option value="ms">Hyphenated Mass Spectrometry</option>
                    <option value="other">Other</option>
                </select>
                <label for="vis">Visibility:</label> <select required class="bg-gray-200 pl-1 pt-2" id="vis" v-model="md.visibility" @change="checkMD">
                    <option selected disabled value="">Choose visibility</option>
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                </select>
            </form>
            <p class="text-xl mx-auto mt-4 font-bold">Optional metadata:</p>
            <form method="post" class="md-modal justify-end m-[8px]" @submit="OptionalMetadata">
                <label for="instrument">Instrument:</label> <input type="text" class="bg-gray-200 pl-1 inline break-words" id="instrument" v-model="md.instrument"/>
                <label></label><span class="text-left text-xs text-gray-400">Example: Spectrometer used in NMR or MS experiments
                </span>
                <label for="qmethod">Quant. Method:</label> <input type="text" class="bg-gray-200 pl-1 inline break-words" id="qmethod" v-model="md.quantification_method"/>
                <label for="mlid">MetaboLights ID:</label> <input type="text" class="bg-gray-200 pl-1 inline break-words" id="mlid" v-model="md.ml_id"/>
                <label for="doi">DOI:</label> <input type="text" class="bg-gray-200 pl-1 inline break-words" id="doi" v-model="md.doi"/>
            </form>
        </div>
        <div class="col-start-1 border-gray-400 border-[1px] border-solid m-[8px] h-[60px] text-left p-1 text-xs">
            <input type="checkbox" :checked="cd_check" disabled/>
            <span v-if="cd_check" class="text-gray-400"> A valid concentration file was provided.</span>
            <span v-if="!cd_check" class="text-black"> Please provide a concentration data file.</span>
            <br>
            <input type="checkbox" :checked="author_id_check" disabled/>
            <span v-if="author_id_check" class="text-gray-400"> Authors and title for the study were provided.</span>
            <span v-if="!author_id_check" class="text-black"> Please provide authors and a title for your study.</span>
            <br>
            <input type="checkbox" :checked="param_check" disabled/>
            <span v-if="param_check" class="text-gray-400"> Specimen, method and visibility were provided.</span>
            <span v-if="!param_check" class="text-black"> Please select the mandatory parameters on the right.</span>

        </div>
        <div class="col-start-2 m-[8px] h-[60px] flex align-middle justify-center">
            <button class="generic-blue-button px-8 py-0.5 mx-auto rounded-lg text-xl" :disabled="!(param_check && author_id_check && cd_check)"
            @click.prevent="uploadStudy">Upload</button>
        </div>

    </div>
</div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { uploadData, processData, checkIDExists } from '@/modules/query_flask';
import { customObject } from '@/store';

const setConcentrationFile = (e: Event): void => {
    e?.preventDefault();
    const target = e.target as HTMLInputElement;
    if (target.files) {
        conc_file.value = new File([target.files[0]], target.files[0].name);
        cd_check.value = true;
    }
    else {
        conc_file.value = undefined;
        cd_check.value = false;
    }
    //Validate server side
}

const setMetadataFile = (e: Event): void => {
    e?.preventDefault();
    const target = e.target as HTMLInputElement;
    if (target.files) {
        md_file.value = new File([target.files[0]], target.files[0].name);
    }
    else {
        md_file.value = undefined;
    }
    //Validate server side
}

const setPhenoFile = (e: Event): void => {
    e?.preventDefault();
    const target = e.target as HTMLInputElement;
    if (target.files) {
        pheno_file.value = new File([target.files[0]], target.files[0].name);
    }
    else {
        pheno_file.value = undefined;
    }
    //Validate server side
}

const uploadStudy = async (): Promise<void> => {
    if (!(cd_check.value && param_check.value && author_id_check.value)) return;
    if (conc_file.value != undefined && md.value.study_id) {
        await uploadData(md.value.study_id, conc_file.value, md_file.value, pheno_file.value)
        .then(async (res: Response) => {
            switch (res.status) {
                case 200:
                    status_message.value = "Successfully uploaded your file(s) to MetaboSERV! Processing will begin shortly.";
                    await processFiles(md.value);
                    break;
                case 400:
                    status_message.value = "There was a problem with setting correct HTTP parameters for your request. Please try again.";
                    break;
                case 401:
                    status_message.value = "Your login token appears to be expired, or your account lacks necessary permissions. Please log in again and retry.";
                    break;
                case 403:
                    status_message.value = "At least one file media type does not match the accepted media type list.";
                    break;
                case 406:
                    status_message.value = "At least one file does not match the MetaboSERV format specifications.";
                    break;
                case 409:
                    status_message.value = "Sorry, this study title is already taken! Please choose another title.";
                    break;
                default:
                    status_message.value = "Sorry, an unknown error has occurred.";
                    break;
            }
        })
    }
}

const checkMD = () => {
    if (md.value.study_method && md.value.study_type && md.value.visibility) {
        param_check.value = true;
    }
    else {
        param_check.value = false;
    }
}

const checkAuthorAndID = () => {
    if (md.value.study_authors && (document.getElementById("authors") as HTMLInputElement)?.checkValidity()) {
        author_id_check.value = true;
    } else {
        author_id_check.value = false;
    }
}

const checkExistConflict = async () => {
    await checkIDExists(md.value.study_id)
    .then((res_body) => {
        exists_conflict.value = !!(res_body.exists);
    })
    
}

const processFiles = async (study_params: customObject) => {
    //TODO: loading wheel spinning for this too?
    if (!study_params) return;
    await processData(md.value.study_id, md.value)
    .then(async (res: Response) => {
        switch (res.status) {
            case 200:
                status_message.value = "Successfully processed the uploaded files!";
                //router.push...
                break;
            case 400:
                status_message.value = "There was a problem with setting correct HTTP parameters for your request. Please try again.";
                break;
            case 401:
                status_message.value = "Your login token appears to be expired, or your account lacks necessary permissions. Please log in again and retry.";
                break;
            default:
                status_message.value = "Sorry, an unknown error has occurred.";
                break;
        }
    })
}


const conc_file = ref<File>();
const md_file = ref<File>();
const pheno_file = ref<File>();

const cd_check = ref<boolean>(false);
const author_id_check = ref<boolean>(false);
const param_check = ref<boolean>(false);
const exists_conflict = ref<boolean>(false);
const status_message = ref<string>("");

const md = ref<customObject>({visibility: '', study_method: '', study_type: ''});
</script>

<style>

.upload {
    margin: auto;
    height: 650px;
    border: solid rgb(148 163 184) 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
}

.upload-fields {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 8px;
    text-align: left;
    align-items: baseline;
    justify-items: baseline;
    gap: 8px;
}

.upload-info {
    margin: 8px;
    grid-column: 2/3;
}

.upload input {
    accent-color: rgb(59 130 246);
}

.upload input:invalid {
    accent-color: rgb(239 68 68);
    color: rgb(239 68 68);
}

</style>