<template>
<div class="perm-wrapper">
    <p class="font-bold mx-auto text-2xl">Manage studies:</p>
    <div class="studyselection">
        <div class="row selectionwindow shadow-lg">
            <select class="w-fit mx-auto" v-model="selected_study">
                <option selected disabled value="">Please select a study..</option>
                <option v-for="study in studies" :value="study">&nbsp;{{study}}</option>
            </select>
        </div>
    </div>
    <div class="userwindow shadow-lg" v-if="selected_study != ''">
        <div class="contributor-list">
            <ContributorList :study="selected_study"/>
        </div>
        <div class="metadata">
            <MetadataList :study="selected_study"/>
        </div>
        <div class="metabolites">
            <MetaboliteList :study="selected_study"/>
        </div>
        <div class="files">
            <TokenGenerationList :study="selected_study" :studies_permitted="studies"/>
        </div>
    </div>
</div>    
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { getUserData, getPermittedUsers } from "@/modules/query_flask";
import { flaskGetStudies } from '@/modules/handle_flask_output';
import { customObject } from "@/store/index";
import ContributorList from "../components/permission/ContributorList.vue"
import MetadataList from '@/components/permission/MetadataList.vue';
import MetaboliteList from '@/components/permission/MetaboliteList.vue';
import TokenGenerationList from '../components/permission/TokenGenerationList.vue';
const store = useStore();
const router = useRouter();

const last_view_path = computed(() => store.state.misc_last_view_path);
const studies = computed(() => store.state.studies_all.filter((st: string) => checkPermission(st)));

onMounted (async () => {
    if (!store.getters.loggedIn) {
        router.push(last_view_path.value);
    }
    await flaskGetStudies();
    user_data.value = await getUserData(store.getters.getUser);
});

const checkPermission = async (study: string): Promise<boolean> => {
    if (!user_data.value) return false;
    if (user_data.value.permissions.manage.includes(study)) return true;
    return false;
}

const user_data = ref<customObject>({
    permissions: {
        view: Array<String>(),
        manage: Array<String>(),
    },
})
const selected_study = ref<string>("")
</script>

<style>
.perm-wrapper {
    background: white;
    font-size: large;
}

.overview {
    margin: auto 8px auto 0;
}

.overviewbutton {
    background: rgb(96 165 250);
    color: white;
    padding: 0 4px 0 4px;
}

.overviewbutton:hover {
    color: rgb(253 186 116);
}

.permissionbutton:disabled {
    background: lightgray;
    color: gray;
}

.permissionbutton:disabled:hover {
    color: gray;
}

.studyselection {
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    overflow-y: scroll;
}

.selectionwindow {
    border: solid 1px rgb(148 163 184);
    gap: 0 4px;
    padding: 8px 16px 4px 16px;
    margin: auto;
    width: 15%;
}

.selection {
    margin-right: 16px;
    font-weight: 700;
}

.selectionentry {
    margin-bottom: 4px;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.permissionbutton {
    margin-bottom: 4px;
    background: rgb(96 165 250);
    color: white;
    width: 100%;
    padding: 0 4px 0 4px;
}

.permissionbutton:hover {
    color: rgb(253 186 116);
}

.userwindow {
    width: 60%;
    margin: 8px auto;
    border: solid 1px rgb(148 163 184);
    height: 650px;
    min-height: 500px;
    max-height: minmax(500vh,500px);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(20, minmax(0,1fr));
}

.studyoverview {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: gray;
    margin: 4px;
    grid-row: 1 / 21;
}

.contributor-list {
    margin: 4px;
    grid-column: 1 / 2;
    grid-row: 14 / 21;
}

.metadata {
    margin: 4px;
    grid-column: 1 / 2;
    grid-row: 1 / 14;
    background-color: white;
}

.metabolites {
    margin: 4px;
    grid-column: 2 / 4;
    grid-row: 1 / 14;
}

.files {
    margin: 4px;
    grid-column: 2 / 4;
    grid-row: 14 / 21;
}


</style>