<template>
account
</template>

<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
const store = useStore();
const router = useRouter();

const last_view_path = computed(() => store.state.misc_last_view_path);

onMounted (() => {
    if (!store.getters.loggedIn) {
        router.push(last_view_path.value);
    }
});

</script>