<template>
    <div class="overflow-y-auto py-1 px-1.5 text-left mx-auto border-slate-400 border-[1px] border-solid">
        <div class="bg-white h-full w-full pt-0.5 grid grid-cols-2 grid-rows-2">
            <div class="download-button shadow-lg" @click="download('source')" :class="{'inactive-button': !studies_all.includes(download_selected_item)}">
                <img class="mx-auto h-[30%] w-[20%]" src="../../../public/db_icon.png" v-if="studies_all.includes(download_selected_item)"/>
                <img class="mx-auto h-[30%] w-[20%]" src="../../../public/db_icon_inactive.png" v-if="!studies_all.includes(download_selected_item)"/>
                <p class="mx-auto mt-1 font-bold">Source Files</p>
            </div>
            <div class="download-button shadow-lg" @click="download('json')">
                <div class="mx-auto text-[#428bc7] text-7xl">{...}</div>
                <p class="mx-auto mt-1 font-bold">JSON</p>
            </div>
            <div class="download-button shadow-lg" @click="download('gen')">
                <img class="mx-auto h-[40%] w-[30%]" src="../../../public/file_icon.png"/>
                <p class="mx-auto mt-1 font-bold">Generate file</p>
                <p class="mx-auto text-gray-400 text-xs">(Currently supported: .csv, .pdf)</p>
            </div>
            <div class="download-button shadow-lg" @click="download('plot')">
                <img class="mx-auto h-[40%] w-[30%]" src="../../../public/plot_icon.png"/>
                <p class="mx-auto mt-1 font-bold">Generated Plots</p>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
const store = useStore();
const download_selected_item = computed(() => store.state.download_selected_item);
const studies_all = computed(() => store.state.studies_all);

const emit = defineEmits<{
    (e: 'download', download_type: string): void,
}>();

const download = (download_type: string): void => {
    if (download_type == 'source' && !studies_all.value.includes(download_selected_item.value)) {
        return;
    }
    emit('download', download_type);
}

</script>

<style>

.download-button {
    width: 90%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    border: solid rgb(148 163 184) 1px;
    cursor: pointer;
}

.inactive-button {
    width: 90%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    border: solid rgb(156 163 175) 1px;
    background: rgb(243 244 246);
    color: rgb(156 163 175);
    cursor: default;
}

.inactive-text {
    color: rgb(156 163 175);
}



</style>