<template>
    <div class="text-[18px] text-center bg-white m-0.5">
        <p>{{show_text}}</p>
    </div>
</template>

<script setup lang="ts">
import { useStore } from 'vuex';

const store = useStore();

const props = defineProps({
    show_text: String,
});


</script>