<template>
    <div class="fixed z-40 left-0 top-0 h-full w-full bg-blue-100 bg-opacity-50" id="outside_modal">
        <div class="mx-auto bg-white mt-[calc(15%)] w-fit h-fit min-w-[20%] min-h-[30%] border-solid border-slate-400 border-[1px] shadow-lg px-[3%] relative" id="in_modal">
            <p class="mx-auto font-bold my-4">Choose a file type to generate:</p>
            <div class="flex flex-wrap justify-start flex-col gap-2 items-start">
                <select v-model="selected_filetype" id="file-selector" class=" w-fit h-fit py-0.5 ">
                    <option value=".csv">.csv</option>
                </select>
                <div v-if="selected_filetype === '.csv'" class="flex flex-wrap justify-start flex-col gap-2 items-start">
                    <div class="row">
                        <div class="column text-left pr-2">
                            <p class="mb-1">Filename:</p>
                            <p class="mb-1">Separator:</p>
                            <p class="mb-1">Handle NAs:</p>
                        </div>
                        <div class="column">
                            <input type="text" id="csv-filename-selector" class="bg-gray-200 mb-1 accent-blue-500" :value="`${selected_item}.csv`"
                            @keyup.enter="generateCSV"/>
                            <select id="csv-sep-selector" class="py-0.5 mb-1">
                                <option value="tab">Tabulator</option>
                                <option value="scl">Semicolon</option>
                                <option value="ppr">Vertical Bar</option>
                            </select>
                            <select id="csv-na-selector" class="py-0.5 mb-1">
                                <option value="blank">Leave blank</option>
                                <option value="rep-na">Replace with NA</option>
                                <option value="rep-dot">Replace with dots</option>
                                <option value="rep-x">Replace with x</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="mx-auto mt-4 mb-2 px-3 py-1 bg-blue-500 rounded-lg text-white hover:text-orange-300"
            @click="generateCSV">Generate</button>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const selected_item = computed(() => store.state.download_selected_item);



/**
 * Has two emits:
 * 
 * @param close-modal (emit) - Tells the parent to close this modal
 * @param choose-filetype (emit) - Submits which filetype should be generated in the backend
 */
const emit = defineEmits<{
    (e: 'close-modal'): void;
    (e: 'choose-filetype', s: string, params: object): void;
}>();

/**
 * On mounting, sets values for inside and outside the modal and stores them.
 */
onMounted(() => {
    initialized.value = false;
    if(document.getElementById("in_modal") && document.getElementById("in_modal") != undefined) {
        in_modal.value = document.getElementById("in_modal")
    }
    if(document.getElementById("outside_modal") && document.getElementById("outside_modal") != undefined) {
        outside_modal.value = document.getElementById("outside_modal")
    }
    initialized.value = true;
    selected_filetype.value
})

/**
 * Shows the modal if a user clicks inside the modal.
 * Closes it if a user clicks outside the modal.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!initialized) {
        return;
    }
    if ((!in_modal.value || !outside_modal.value) || (e.target == outside_modal.value && e.target != in_modal.value)) {
        emit('close-modal')
    }
});

/**
 * Throws an emit to generate a CSV file based on current user selection.
 */
const generateCSV = () => {
    let filename = (document.getElementById('csv-filename-selector') as HTMLInputElement)?.value
    let na_method = (document.getElementById('csv-na-selector') as HTMLInputElement)?.value
    let sep = (document.getElementById('csv-sep-selector') as HTMLInputElement)?.value
    emit('choose-filetype', 'csv', {'sep': sep, 'na': na_method, 'filename': filename});
}



const in_modal=ref<HTMLElement | null>();
const outside_modal=ref<HTMLElement | null>();
const initialized=ref(false);
const selected_filetype=ref<string>(".csv");

</script>

<style>
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
</style>