<template>
    <div class="selection-item shadow-lg z-20" :class="{'selected':(show_text === selected_download_item)}" @click="setSelected">
        <p>{{show_text}}<button v-if="deletable" class="float-right h-[80%] w-fit text-xs text-center m-auto border-gray-500 border-solid
        border-[0.5px] shadow-lg rounded-sm mt-1 bg-blue-300 px-0.5 mr-0.5 hover:text-red-500 hover:bg-gray-300 z-30" @click="deleteThis">Delete</button></p>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const selected_download_item = computed(() => store.state.download_selected_item);

const props = defineProps({
    show_text: String,
    deletable: Boolean,
    qid: String,
});

/**
 * On click, sets this particular download item as currently selected.
 */
const setSelected = (): void => {
    store.commit('downloadSelectedSet', props!.show_text);
}

/**
 * If this is a stored result subset, deletes it (and effectively also deletes this item).
 */
const deleteThis = (): void => {
    store.commit('queryStoredDelete', props.qid);
    store.commit('queryStoredMetabolitesDelete', props.qid);
}

</script>

<style>

.selection-item {
    font-size: 18px;
    background-color: rgb(226 232 240);
    border: solid rgb(203 213 225) 1px;
    margin: 1px;
    cursor: pointer;
}

.selection-item :hover {
    background-color: rgb(159, 197, 243);
}

.selected {
    background-color: rgb(96 165 250);
    color: white;
}

.selected :hover {
    background-color: rgb(96 165 250);
}

</style>