<template>
    <div class="overflow-y-auto py-1 px-1.5 text-left mx-auto border-slate-400 border-[1px] border-solid">
        <div class="bg-white h-full w-full pt-0.5">
            <slot/>
        </div>
    </div>
</template>

<script setup lang="ts">
import { useStore } from 'vuex';

const store = useStore();

</script>