<template>
    <div class="fixed z-40 left-0 top-0 h-full w-full bg-blue-100 bg-opacity-50" id="outside_modal">
        <div class="m-auto bg-white mt-[calc(15%)] w-fit h-fit min-w-[20%] min-h-[30%] border-solid border-slate-400 border-[1px] shadow-lg px-[3%] relative" id="in_modal">
            <p class="mx-auto font-bold my-4">Choose from {{file_list.length}} source files:</p>
            <div class="w-fit min-w-[95%] h-[95%] overflow-y-auto m-auto text-left bg-gray-100">
                <div v-for="item in file_list" class="bg-gray-200 shadow-lg mx-[0.5px] mb-[2px] p-[0.5px]" :key="item">
                    {{item}}&nbsp;
                    <input type="checkbox" class="accent-blue-500 float-right mt-1" 
                    :checked="box_array[file_list.indexOf(item)]" @change="toggleCheckbox(file_list.indexOf(item))"/><br>
                </div>
            </div>
            <button class="mx-auto absolute bottom-[5%] left-[42%] px-1.5 py-1 bg-blue-500 rounded-lg text-white hover:text-orange-300"
            @click="selectionToString" :disabled="isDisabled">Download</button>
        </div>
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref, PropType, computed } from 'vue';



/**
 * Has two emits:
 * 
 * @param close-modal (emit) - Tells the parent to close this modal
 * @param choose-files (emit) - Submits the current selection of files
 */
const emit = defineEmits<{
    (e: 'close-modal'): void;
    (e: 'choose-files', s: string): void;
}>();


/**
 * Has one prop:
 * 
 * @param file_list - The plot image to show in this modal
 */
const props = defineProps({
    file_list: Array as PropType<Array<string>>,
});

/**
 * On mounting, sets values for inside and outside the modal and stores them.
 */
onMounted(() => {
    initialized.value = false;
    if(document.getElementById("in_modal") && document.getElementById("in_modal") != undefined) {
        in_modal.value = document.getElementById("in_modal")
    }
    if(document.getElementById("outside_modal") && document.getElementById("outside_modal") != undefined) {
        outside_modal.value = document.getElementById("outside_modal")
    }
    box_array.value = props.file_list!.map(() => {return true;})
    initialized.value = true;
})

/**
 * Shows the modal if a user clicks inside the modal.
 * Closes it if a user clicks outside the modal.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!initialized) {
        return;
    }
    if ((!in_modal.value || !outside_modal.value) || (e.target == outside_modal.value && e.target != in_modal.value)) {
        emit('close-modal')
    }
});

/**
 * Toggles checkbox value for a given file.
 * 
 * @param index - Index of the file in file list
 */
const toggleCheckbox = (index: number): void => {
    box_array.value[index] = !box_array.value[index];
}

/**
 * Turns the selected files into a semicolon-separated string.
 * Then passes the string back to the download handler.
 */
const selectionToString = (): void => {
    let current_selection = props.file_list!.filter(filename => box_array.value[props.file_list!.indexOf(filename)]);
    emit('choose-files', current_selection.join(";"));
}


const in_modal=ref<HTMLElement | null>();
const outside_modal=ref<HTMLElement | null>();
const initialized=ref(false);
const box_array=ref<Array<boolean>>([]);
const isDisabled = computed(() => {
    if (box_array.value) {
        return !box_array.value.some((element:boolean) => element);
    }   
    return true;
})

</script>