<template>
  <nav class="fixed top-0 left-0 w-full h-14 z-40">
    <div class="bg-blue-500 h-[50%] flex justify-start flex-shrink-0">
        <p class="pt-1 text-xl text-white block ml-[calc(2%)]">MetaboSERV</p>
    </div>
    <ul class="bg-blue-400 h-[50%] min-h-[6%] w-full flex justify-between">
      <div class="ml-[calc(2%)] flex items-center justify-start gap-[14%] min-w-fit max-h-[100%]">
        <li class="pt-1 text-xl text-white hover:text-orange-200"><router-link to="/about">About</router-link></li>
        <li class="pt-1 text-xl text-white hover:text-orange-200"><router-link :to="last_view_path">Browse</router-link></li>
        <li class="pt-1 text-xl text-white hover:text-orange-200"><router-link to="/download">Download</router-link></li>
        <li class="pt-1 text-xl text-white hover:text-orange-200"><router-link to="/upload">Upload</router-link></li>
      </div>
      <div class="mr-[2%] flex items-center justify-end min-h-[6%] max-h-[100%]">
        <li v-show="!user" class="pt-1 text-xl text-white hover:text-orange-200 flex-shrink-0 mr-4" style="cursor: pointer" @click="registerClicked">Register</li>
        <li v-show="!user" class="pt-1 text-xl text-white hover:text-orange-200 flex-shrink-0" style="cursor: pointer" @click="loginClicked">Login</li>
        <li v-show="user" class="pt-1 text-base text-white flex-shrink-0 mr-2">{{user}}</li>
        <img v-show="user" class="h-auto w-auto max-h-[100%] p-0.5" :src="getImageUrl()" style="cursor: pointer"
        @mouseover="logo_hovered = true" @mouseleave="logo_hovered = false" @click="menu_open = !menu_open"/>
      </div>
    </ul>
    <div :class="menu_open ? 'dropdown-hovered' : 'dropdown'">
        <ul class="dropdown-content px-1 py-1 shadow-lg">
          <li class="dropdown-item" @click="signOutClicked">Sign out</li>
          <li class="dropdown-item"><router-link to="/user/permissions" @click="closeDropdown()">Manage studies</router-link></li>
          <li class="dropdown-item"><router-link to="/user/account" @click="closeDropdown()">Edit account</router-link></li>
        </ul>
      </div>
  </nav>
  <LoginForm v-if="login_form_open" @close-form="login_form_open = false"/>
  <RegisterForm v-if="register_form_open" @close-form="register_form_open = false"/>
</template>

<script setup lang="ts">
import { flaskGetMetabolites, flaskGetStudies } from '@/modules/handle_flask_output';
import Cookies from 'js-cookie';
import { computed, onMounted, onUpdated, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useStore } from 'vuex';
import LoginForm from '../auth/LoginForm.vue';
import RegisterForm from '../auth/RegisterForm.vue';
const store = useStore();
const router = useRouter(); 
const route = useRoute();
const last_view_path = computed(() => store.state.misc_last_view_path);

onMounted(() => {
  user.value = store.getters.getUser;
});

onUpdated(() => {
  user.value = store.getters.getUser;
});

/**
 * Opens the login form.
 */
const loginClicked = () => {
  login_form_open.value = true;
}

/**
 * Opens the registration form.
 */
const registerClicked = async () => {
  register_form_open.value = true;
}

const signOutClicked = async () => {
  if (route.path == "/user/permissions" || route.path == "/user/account") router.push(last_view_path.value);
  menu_open.value = false;
  Cookies.remove('metaboserv_jwt');
  Cookies.remove('metaboserv_csrf');
  Cookies.remove('metaboserv_username');
  store.commit('signOutResetApp');
  await flaskGetStudies();
  await flaskGetMetabolites();
}

/**
 * Closes the dropdown menu.
 */
const closeDropdown = () => {
  menu_open.value = false;
}


/**
 * Switches between active and inactive src for the user logo (next to the login tab.)
 * 
 * @remarks On hovering the logo, it should switch color to orange-200.
 */
const getImageUrl = () => {
  // Necessary because v-binds are executed at runtime, lacking the required context (already bundled away by webpack)
  let images = require.context('../../../public/', false, /\.png$/)
  if (logo_hovered.value) return images('./user_icon_active.png')
  return images('./user_icon.png')
}

const logo_hovered = ref<boolean>(false);
const menu_open = ref<boolean>(false);
const login_form_open = ref<boolean>(false);
const register_form_open = ref<boolean>(false);
const user = ref<string>("")
</script>

<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  opacity: 0.8;
  position: absolute;
  top: 100%;
  width: fit-content;
  min-width: 100px;
  text-align: left;
  background-color: rgb(96 165 250);
  right: 2%;
  z-index: 40;
}

.dropdown-hovered .dropdown-content {
  display: block;
}

.dropdown-item {
  color: white;
  cursor: pointer;
  height: fit-content;
  z-index: 40;
}

.dropdown-item:hover {
  color: gold;

}
</style>

