<template>
    <div class="w-full h-4" ref="full_width_slidethumb" :id="`full_width_slidethumb_${bar_id}`">
    <div class="h-4 w-1 bg-blue-500 absolute" style="cursor: pointer" ref="this_drag" :id="`this_drag_${id_number}_${bar_id}`"
        @mousedown="elementClicked"/>
    </div>
</template>

<script setup lang="ts">
import { ref, watch } from "vue";

/**
 * Each slider thumb has four props:
 * 
 * @param bar_id - The name of the metabolite
 * @param id_number - ID number of the slider thumb, used internally
 * @param start_pos - Starting position of the slider. Defaults to 50% of the bar
 * @param inferred_pos - Position as set by the user
 */
const props = defineProps({
    bar_id: String,
    id_number: Number,
    pos: Number,
    offset: Number,
    maxwidth: Number,
})

/**
 * @param report-value (emit) - Reports the percentage of the slider (used to convert between slider and values) 
 */
const emit = defineEmits<{
    (e: 'report-value', pos_percentage: number): void;
}>();

const setThumb = (): void => {
    original_x_pos.value = this_drag.value!.getBoundingClientRect().left;
    slidethumb_width.value = Math.round(full_width_slidethumb.value!.getBoundingClientRect().right-full_width_slidethumb.value!.getBoundingClientRect().left);
    current_pos.value = (props.pos != null && props.pos >= 0)? (props.maxwidth!*props.pos) : props.maxwidth!/2;
    document.getElementById(`this_drag_${props.id_number}_${props.bar_id}`)!.style.left = current_pos.value + "px";
    reportValue();
}

/**
 * Called when the slider thumb is clicked. Adds drag and drop functionality.
 * Two listeners (on dragging and on stopping to drag) are used for this.
 * 
 * @param e - The mouse event generated by clicking the slider thumb
 */
const elementClicked = (e: MouseEvent): void => {
    e.preventDefault();
    original_x_pos.value = this_drag.value!.getBoundingClientRect().left;
    window.addEventListener('mousemove', whileDragging)
    window.addEventListener('mouseup', elementLeft)
}

/**
 * Called when the user stops dragging the slider thumb. Removes the listeners and reports the slider position.
 * 
 * @param e - The mouse event generated by stopping to drag the slider thumb
 */
const elementLeft = (e: MouseEvent): void => {
    e.preventDefault();
    original_x_pos.value = this_drag.value!.getBoundingClientRect().left;
    window.removeEventListener('mousemove', whileDragging)
    window.removeEventListener('mouseup', elementLeft)
    reportValue();
}

/**
 * Constantly called while the slider thumb is being dragged. Calculates the current position (percentage) and reports it.
 * 
 * @param e - The mouse event generated by dragging the slider thumb
 */
const whileDragging = (e: MouseEvent): void => {
    e.preventDefault();
    let cursor_position:number = e.clientX;
    document.getElementById(`this_drag_${props.id_number}_${props.bar_id}`)!.style.left=Math.min(props.maxwidth!-5,
     Math.max(Math.round(cursor_position) - props.offset!, 0)) +"px";
    current_pos.value = Math.min(props.maxwidth!, Math.max(cursor_position - props.offset!, 0));
    reportValue();
}

/**
 * Reports the slider percentage to the parent class (MetaboliteSliderItem).
 * 
 * @remarks Slider percentage is converted to a concentration value there.
 */
const reportValue = (): void => {
    emit('report-value', current_pos.value/props.maxwidth!);
}

const this_drag=ref<HTMLDivElement | null>(null);
const full_width_slidethumb=ref<HTMLDivElement | null>(null);
const original_x_pos=ref<number>(0.0);
const slidethumb_width=ref<number>(0);
const current_pos=ref<number>(0);

/**
 * If the user sets a new position by dragging the slider or per text field, it is amended.
 * 
 * @remarks Reporting is already handled in the drag methods
 */
watch(() => props.pos, (): void => {
    current_pos.value = props.pos!;
    setThumb();
});

</script>