<template>
    <div class="w-full" ref="slidebar_width_div">
        <div class="mx-auto w-full border-2 border-solid border-blue-300 bg-blue-200 rounded-md h-5 whitespace-nowrap z-1 relative">
            <div class="mx-auto bg-green-300 h-4 inline-block absolute z-2 opacity-70" ref="normal_rect" :id="`normal_rect_${id}`" v-show="show_normal_conc"/>
            <ConcentrationSliderThumb class="top-0 relative inline-block z-3" :bar_id="id" :id_number='1' :maxwidth="maxwidth"
             :pos="parseFloat(set_slider_min)" @report-value="reportSlider1" :id="`slider1_${id}`" :offset="bar_offset"/>
            <ConcentrationSliderThumb class="top-0 inline-block z-3" :bar_id="id" :id_number='2' :maxwidth="maxwidth"
             :pos="parseFloat(set_slider_max)" @report-value="reportSlider2" :id="`slider2_${id}`" :offset="bar_offset"/>
        </div>
    </div>
</template>

<script setup lang="ts">
import { nextTick, onUpdated, PropType, ref, watch } from "vue";
import ConcentrationSliderThumb from "../concentration_slider/ConcentrationSliderThumb.vue";

/**
 * Has eight props:
 * 
 * @param metabolite_max - The maximum value for the metabolite represented by this slider
 * @param metabolite_name - The name of the metabolite
 * @param metabolite_unit - The unit the metabolite is shown in
 * @param show_normal_conc - Boolean that dictates whether to show normal concentration on the slider
 */

const props = defineProps({
    id: String,
    infer_pos: Array as PropType<Array<number>>,
    metabolite_max: Number,
    metabolite_unit: String,
    normal_conc: Array as PropType<Array<number>>,
    show_normal_conc: Boolean,
    visible: Boolean,

})

/**
 * Has one emit:
 * 
 * @param report-values (emit) - Reports the minimum and maximum values set by the user using the slider
 */
const emit = defineEmits<{
    (e: 'report-values', min_set_by_user: number, max_set_by_user: number): void;
}>();

const setNormalConc = () => {
    if (props.normal_conc) {
        set_normal_min.value = Math.max(0,props.normal_conc[0]/props.metabolite_max!);
        set_normal_max.value = Math.min(1, props.normal_conc[1]/props.metabolite_max!);
    }
}

const initializeSlider = () => {
    maxwidth.value = Math.round(slidebar_width_div.value!.getBoundingClientRect().right-slidebar_width_div.value!.getBoundingClientRect().left);
    set_slider_min.value = 0.25;
    set_slider_max.value = 0.75;
    setNormalConc();
    bar_offset.value = slidebar_width_div.value!.getBoundingClientRect().left;
    resizeNormalRect();
}

/**
 * If the normal concentration is updated, this is reflected on the slider.
 */
onUpdated((): void => {
    setNormalConc();
    resizeNormalRect();
});

/**
 * Reports the concentration value of slider one.
 * For this, an according percentage is taken from the metabolite's maximum concentration.
 * 
 * @param value - Percentage set by the slidebar thumb
 */
const reportSlider1 = (value: number): void => {
    slider1_value.value = value;
    redoMinMax();
}

/**
 * Reports the value of slider two.
 * For this, an according percentage is taken from the metabolite's maximum concentration.
 * 
 * @param value - Percentage set by the slidebar thumb
 */
const reportSlider2 = (value: number): void => {
    slider2_value.value = value;
    redoMinMax();
}

/**
 * Switches mix and max around if necessary to reflect slider1<=slider2.
 * Also reports the new values.
 */
const redoMinMax = (): void => {
    if (slider1_value.value! <= slider2_value.value!) {
        current_min.value = slider1_value.value;
        current_max.value = slider2_value.value;
    } else {
        current_min.value = slider2_value.value;
        current_max.value = slider1_value.value;
    }
    emit('report-values', current_min.value, current_max.value);
}

/**
 * Redraws the green rectangle for the normal concentration.
 */
const resizeNormalRect = (): void => {
    document.getElementById(`normal_rect_${props.id}`)!.style.left = (set_normal_min.value!*maxwidth.value) + "px";
    document.getElementById(`normal_rect_${props.id}`)!.style.width = (set_normal_max.value!*maxwidth.value)-(set_normal_min.value!*maxwidth.value) + "px";
}


// ### Holds/responds to user selection: ###
const current_min=ref<number>(0.0);
const current_max=ref<number>(1.0);
const set_normal_min=ref<number>();
const set_normal_max=ref<number>();
const set_slider_min=ref<number>();
const set_slider_max=ref<number>();

// ### For CSS/HTML purposes: ###
const slider1_value=ref<number>(0.0);
const slider2_value=ref<number>(1.0);
const maxwidth=ref<number>(1);
const slidebar_width_div=ref<HTMLDivElement | null>(null);
const bar_offset = ref<number>(0);
const just_rendered = ref<boolean>(true);

/**
 * Calls to resize the normal concentration rectangle if the concentration values change.
 */
watch(() => props.normal_conc, (): void => {
    setNormalConc();
    resizeNormalRect();
})

watch(() => props.visible, () => {
    if (props.visible) nextTick(() => initializeSlider());
})

watch(() => props.infer_pos, () => {
    if (!just_rendered.value) {
        if (props.infer_pos![0] > props.infer_pos![1]) {
            let temp = props.infer_pos![1];
            props.infer_pos![1] = props.infer_pos![0];
            props.infer_pos![0] = temp;
        }
        set_slider_min.value = Math.max(0.0,props.infer_pos![0]);
        set_slider_max.value = Math.min(1.0,props.infer_pos![1]);
        redoMinMax();
    } else {just_rendered.value = false;}
    
})

</script>