<template>
    <div v-for="pt in phenotype_list" :key="pt" class="text-left ml-2">
        <input type="checkbox" class="accent-blue-500" :checked="selected_phenotypes.includes(pt.phenotype_id)" 
        @change="togglePhenotype(pt.phenotype_id)"/>&nbsp;{{pt.phenotype_raw}}
    </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { getPhenotypeList } from '@/modules/query_flask';
import { customObject } from '@/store';
import { useStore } from 'vuex';

const store = useStore();
const selected_phenotypes = computed(() => store.state.selected_phenotypes);


onMounted(async () => {
    phenotype_list.value = await getPhenotypeList();
});

const togglePhenotype = (phenotype_id: string) => {
    if (selected_phenotypes.value.includes(phenotype_id)) store.commit('phenotypeRemove', phenotype_id);
    else {
        store.commit('phenotypeAdd', phenotype_id);
        store.commit('phenotypeMetadataAdd', {'phenotype_id': phenotype_id, 'metadata': phenotype_list.value[phenotype_id]});
    }
};

const phenotype_list = ref<customObject>({});
</script>

<style>

</style>
