<template>
    <div class="text-left ml-4 mt-4">
        <div v-if="selected_phenotypes.length == 0" class="text-sm text-gray-400">
            In this optional step, select phenotypes you are interested in from the list on the left.<br>
            Only phenotypes that were recorded in at least one available study are shown.<br>
            If phenotype data is available for any entry in your query, it will be displayed in the resulting table and plots.<br>
            <br>
            Hover over a phenotype to display additional information about it.
        </div>
        <div v-for="pt in selected_phenotypes" :key="pt" class="generic-border phenotype-item">
            <div class="col-start-1 col-span-2">
                <!--Image here-->
            </div>
            <div class="col-start-3 col-end-11 text-left grid-flow-row grid grid-cols-10">
                <b class="col-start-1 col-end-4">Phenotype: </b>
                <span class="col-start-4 col-end-11">{{phenotype_metadata.get(pt)['phenotype_raw']}}</span>
                <b class="col-start-1 col-end-4">Recorded in: </b>
                <span class="col-start-4 col-end-11">{{phenotype_metadata.get(pt)['studies'].join(", ")}}</span>
                <b class="col-start-1 col-end-4">Levels: </b>
                <span class="col-start-4 col-end-11" v-for="lvls, study in phenotype_metadata.get(pt)['levels']">
                    <b>{{study}}</b>: {{lvls.join(", ")}}
                </span>
                <b class="col-start-1 col-end-4">Number of entries: </b>
                <span class="col-start-4 col-end-11">{{phenotype_metadata.get(pt)['number_sources'].join(", ")}}</span>
            </div>
        </div>
    </div>
    
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { customObject } from '@/store';
import { useStore } from 'vuex';

const store = useStore();
const selected_phenotypes = computed(() => store.state.selected_phenotypes);
const phenotype_metadata = computed(() => store.state.phenotype_metadata);

</script>

<style>

.phenotype-item {
    margin-bottom: 4px;
    margin-right: 8px;
    display: grid;
    grid-template-columns: repeat(10,minmax(0,1fr));
}


</style>