<template>
    <InfoModalItem :content="content" :start_height="info_pos"/>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import InfoModalItem from '@/components/info_modal/InfoModalItem.vue';
import { useStore } from 'vuex';

const props = defineProps({
    content: Object,
})

const store = useStore();
const info_pos = computed(() => store.state.info_pos);
</script>