<template>
    <!--On showing info for a study:-->
    <div class="text-left bg-blue-300 bg-opacity-90 text-xs max-w-[40%] w-fit border-blue-500 border-opacity-90 border-solid border-2 break-normal z-40 p-1"
        :style="{top: `${start_height}px`}">
        <div v-if="content.study_id">
            <b>Study: </b>{{content.study_id}}<br>
            <p v-if="content.study_authors"><b>Authors: </b>{{parseAuthors(content.study_authors)}}<br></p>
            <b>Type: </b>NMR Spectroscopy<br>
            <p v-if="content.study_date"><b>Release Date: </b>{{content.study_date}}<br></p>
            <p v-if="content.experiment_date"><b>Exp. Date: </b>{{content.experiment_date}}<br></p>
            <p v-if="content.study_type"><b>Specimen: </b>{{content.study_type}}<br></p>
            <p v-if="content.study_method"><b>Method: </b>{{content.study_method}}<br></p>
            <p v-if="content.spectrometer"><b>Spectrometer: </b>{{content.spectrometer}}<br></p>
            <p v-if="content.probehead"><b>Probehead: </b>{{content.probehead}}<br></p>
            <p v-if="content.spectrometer_probe"><b>Probe: </b>{{content.spectrometer_probe}}<br></p>
            <p v-if="content.instrument"><b>Instrument: </b>{{content.instrument}}<br></p>
            <p v-if="content.quantification_method"><b>Quant. Method: </b>{{content.quantification_method}}<br></p>
        </div>
        <div v-if="content.metabolite_name">
            <b>Metabolite: </b>{{content.metabolite_name}}<br>
            <p v-if="content.id"><b>Internal ID: </b>{{content.id}}<br></p>
            <p v-if="content.category"><b>Category: </b>{{content.category}}<br></p>
            <p v-if="content.studies"><b>Recorded in: </b>{{content.studies.join(', ')}}<br></p>
            <p v-if="content.accession"><b>HMDB ID: </b>{{content.accession}}<br></p>
            <p v-if="content.chemical_formula"><b>Formula: </b>{{content.chemical_formula}}<br></p>
            <p v-if="content.db_min_value && content.db_min_unit"><b>Recorded min: </b>{{content.db_min_value}} {{content.db_min_unit}}<br></p>
            <p v-if="content.db_max_value && content.db_max_unit"><b>Recorded max: </b>{{content.db_max_value}} {{content.db_max_unit}}<br></p>
        </div>
    </div>
    

</template>

<script setup lang="ts">

const props = defineProps({
    content: Object,
    start_height: Number,
})

const parseAuthors = (study_authors: string): string => {
    let separate_authors = study_authors.split(",")
    separate_authors.map((author: string) => {
        author = author.trim();
        return author;
    });
    if (separate_authors.length > 3) {
        return separate_authors.slice(0,3).join(", ") + " et al.";
    } else if (separate_authors.length == 1) {
        return separate_authors[0];
    } else {
        return separate_authors.join(", ");
    }
}
</script>