<template>
    <div class="mp-container">
        <MetaboliteDropField class="mp-dropfield mp-unselected shadow-lg scrollbar-hide" :onDragOver="onDragOver" :onDragLeave="onDragLeave" :onDrop="onDropToUnselected">
            <MetaboliteDragItem v-for="item in metabolites_unselected" :key="item.metabolite_name" :transferData="item" class="hover:text-blue-500"
             :selected_studies="studies_selected" :metabolite_studies="item.studies" @doubleclick-metabolite="moveToSelected"/>
        </MetaboliteDropField>
        <div class="mx-auto mp-buttons">
            <ul class="flex flex-row space-x-4 mx-auto text-xs w-fit">
            <li><button class="px-2 py-1 rounded-md shadow-lg bg-blue-500 text-white hover:text-orange-300 text-l"  @click="addBestMatches">Add best matches</Button></li>
            <li><button class="px-2 py-1 rounded-md shadow-lg bg-blue-500 text-white hover:text-orange-300 text-l" @click="addAllMatches">Add matches</Button></li>
            <li><button class="px-2 py-1 rounded-md shadow-lg bg-blue-500 text-white hover:text-orange-300 text-l"  @click="removeAll" >Remove all ({{metabolites_selected.length}})</Button></li>
            </ul>
        </div>
        <MetaboliteDropField class="mp-dropfield mp-selected shadow-lg scrollbar-hide" :onDragOver="onDragOver" :onDragLeave="onDragLeave" :onDrop="onDropToSelected">
            <MetaboliteDragItem v-for="item in metabolites_selected" :key="item.metabolite_name" :transferData="item" class="hover:text-green-600"
             :selected_studies="studies_selected" :metabolite_studies="item.studies" @doubleclick-metabolite="moveToUnselected"/>
        </MetaboliteDropField>
    </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import MetaboliteDragItem from "@/components/metabolite_picker/MetaboliteDragItem.vue";
import MetaboliteDropField from "@/components/metabolite_picker/MetaboliteDropField.vue";
import { useStore } from "vuex";

interface customObject {
    [key: string]: any
};


const store = useStore();
const studies_selected = computed(() => store.state.studies_selected);
const metabolites_selected = computed(() => store.state.metabolites_selected);
const metabolites_unselected = computed(() => store.state.metabolites_unselected);

const emit = defineEmits<{
    (e: 'reevaluate-queries'): void;
}>();

/**
 * These functions are for handling drag and drop events.
 * 
 * @remarks As is evident, they currently do nothing out of the ordinary.
 * 
 * @param e - A DragEvent
 */
const onDragOver = (e: DragEvent): void => {
}
const onDragLeave = (e: DragEvent): void => {
}

/**
 * Moves a metabolite from the selection back to the unselected set.
 * The metabolite will no longer be considered for queries.
 * 
 * @remarks Will also update the sorting order for that particular metabolite, then sort the metabolite lists.
 * 
 * @param metabolite - The metabolite in question
 */
const moveToUnselected = (metabolite: customObject): void => {
    store.commit('metabolitesSelectedRemove', metabolite);
    store.commit('metabolitesUpdateOrderMap', metabolite);
    store.commit('queryRemove', metabolite.id)
    store.dispatch('metabolitesSort');
    emit('reevaluate-queries');
}

/**
 * Moves a metabolite from the unselected set to the selection.
 * This means it will be considered for queries.
 * 
 * @remarks Will also update the sorting order for that particular metabolite, then sort the metabolite lists.
 * 
 * @param metabolite - The metabolite in question
 */
const moveToSelected = (metabolite: customObject): void => {
    store.commit('metabolitesSelectedAdd', metabolite);
    store.commit('metabolitesUpdateOrderMap', metabolite);
    store.dispatch('metabolitesSort');
    emit('reevaluate-queries');
}

/**
 * Adds the best matches (metabolites that occur in all studies) to the selection.
 */
const addBestMatches = async (): Promise<void> => {
    await store.dispatch('metabolitesSelectedAddBest').then(() => {store.dispatch('metabolitesSort');});
    emit('reevaluate-queries');
}

/**
 * Removes all metabolites from selection.
 */
const removeAll = async (): Promise<void> => {
    await store.dispatch('metabolitesSelectedRemoveAll').then(() => {store.dispatch('metabolitesSort');});
    emit('reevaluate-queries');
}

/**
 * Adds all metabolites to selection.
 */
const addAllMatches = async (): Promise<void> => {
    await store.dispatch('metabolitesSelectedAddAll').then(() => {store.dispatch('metabolitesSort');});
    emit('reevaluate-queries');
}

/**
 * Called when an item is dragged into the selected field.
 * Adds the item to the selection and unlocks metabolite info (so it can disappear again)
 * 
 * @param e - The DragEvent in question
 */
const onDropToSelected = (e: DragEvent): void => {
    if (e.dataTransfer?.getData('value') != undefined) {
        const metabolite = JSON.parse(e.dataTransfer?.getData('value'));
        moveToSelected(metabolite);
        store.commit('infoModalUnlock')
    } 
}

/**
 * Called when an item is dragged into the unselected field.
 * Removes the item from the selection and unlocks metabolite info (so it can disappear again)
 * 
 * @param e - The DragEvent in question
 */
const onDropToUnselected = (e: DragEvent): void => {
    if (e.dataTransfer?.getData('value') != undefined) {
        const metabolite = JSON.parse(e.dataTransfer?.getData('value'));
        moveToUnselected(metabolite);
        store.commit('infoModalUnlock')
    } 
}

</script>

<style>

.mp-container {
    display: grid;
    grid-template-rows: 9fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin: 4px;
}

.mp-dropfield {
    border: solid rgb(59 130 246) 2px;
    height: 550px;
    overflow-y: auto;
    width: 90%;
}

.mp-unselected {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-right: 4px;
    
}

.mp-selected {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-left: 4px;
    margin-right: 4px;
}

.mp-buttons {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.inactive {
    background-color: grey;
    color: white;
}
.inactive:hover {
    color: white;
}
</style>