<template>
    <div class="w-full overflow-y-auto py-1 px-1.5 text-left mx-auto my-2 scrollbar-hide" @dragover="handleOnDragOver" @dragleave="onDragLeave" @drop="onDrop" @dragenter="handleDragEnter">
        <span class="bg-white h-32 mx-auto mt-2">
            <slot/>
        </span>
    </div>
</template>

<script setup lang="ts">
import { PropType, ref } from "vue";

/**
 * Inherits props for the different drag events.
 */
const props = defineProps({
    onDragOver: Function,
    onDragLeave: Function as PropType<(e: DragEvent) => void>,
    onDrop: Function as PropType<(e: DragEvent) => void>,
});

/**
 * Calls the according drag events on dragging an element into the drop field.
 * 
 * @param e - The drag event in question
 */
const handleOnDragOver = (e: DragEvent): void => {
    e.preventDefault();
    props.onDragOver && props.onDragOver(e);
};

/**
 * Called when a dragitem enters the drop field.
 * Only prevents default (dropping the item instantly).
 * 
 * @param e - The drag event in question
 */
const handleDragEnter = (e: DragEvent): void => {
    e.preventDefault();
}

</script>