<template>
    <div class="max-w-screen w-screen" id="app">
      <TopNavbar/>
      <div class="mt-[calc(4%)]">
        <router-view/>
      </div>
    </div>
</template>

<script lang="ts">
import { Options, setup, Vue } from 'vue-class-component';
import TopNavbar from "./components/navbar/TopNavBar.vue"

@Options({
  components: {
    TopNavbar,
  },
})


export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}

.generic-blue-button {
  color:white;
  background: rgb(59 130 246);
}

.generic-blue-button:hover:enabled {
  color: rgb(254 215 170);
}

.generic-blue-button:disabled {
  color: gray;
  background: lightgray;
}

.generic-red-button {
  color:white;
  background: rgb(239 68 68);
}

.generic-red-button:hover:enabled {
  color: rgb(254 215 170);
}

.generic-red-button:disabled {
  color: gray;
  background: lightgray;
}

.generic-border {
  border: solid 1px rgb(148 163 184);
}

</style>
