<template>
    <div class="fixed z-40 left-0 top-0 h-full w-full bg-blue-100 bg-opacity-50 flex items-center" id="outside_modal">
        <div class="mx-auto bg-white w-fit h-fit min-w-[20%] min-h-fit border-solid border-slate-400 border-[1px] shadow-lg px-[3%] relative" id="in_modal">
            <p class="mx-auto font-bold my-4">Please enter your login details:</p>
            <div class="flex flex-wrap justify-start flex-col gap-2 items-start">
                <div class="row">
                    <div class="column text-left pr-2">
                        <p class="mb-1">Username:</p>
                        <p class="mb-1">Password:</p>
                    </div>
                    <div class="column">
                        <input type="text" id="uname-selector" class="bg-gray-200 mb-1 accent-blue-500 ">
                        <input type="password" id="password-selector" class="bg-gray-200 mb-1 accent-blue-500" @keyup.enter="sendLoginData">
                        <p class="text-xs text-blue-400 text-right hover:text-orange-300" style="cursor: pointer">Forgot password?</p>
                    </div>
                </div>
            </div>
            <button class="mx-auto mt-4 mb-2 px-3 py-1 bg-blue-500 rounded-lg text-white hover:text-orange-300"
            @click="sendLoginData">Sign in</button>
            <p v-if="message" class="text-xs" :class="message === 'Login successful!' ? 'text-green-500' : 'text-red-500'">{{message}}</p>
        </div>
    </div>
</template>

<script setup lang="ts">
import { getMetabolites, getStudyList, login } from '@/modules/query_flask';
import { onMounted, ref } from 'vue';
import Cookies from 'js-cookie';
import { flaskGetMetabolites, flaskGetStudies } from '@/modules/handle_flask_output';

/**
 * Has one emit:
 * 
 * @param close-form (emit) - Tells the parent to close the login form
 */
const emit = defineEmits<{
    (e: 'close-form'): void;
}>();

/**
 * Causes a login attempt using the entered username and password.
 * A successful login will set an access cookie as well as a CSRF cookie in the browser.
 * The login form is then closed automatically after 500ms.
 */
const sendLoginData = async () => {
    let username = (document.getElementById('uname-selector') as HTMLInputElement)?.value
    let password = (document.getElementById('password-selector') as HTMLInputElement)?.value
    let login_details = await login(username, password);
    message.value = <string>login_details.msg;
    if (login_details.access_token) {
        Cookies.set('metaboserv_jwt', login_details.access_token, {sameSite: 'None'});
        Cookies.set('metaboserv_csrf', login_details.csrf_token, {sameSite: 'None'});
        Cookies.set('metaboserv_username', username, {sameSite: 'None'});
        await new Promise(resolve => setTimeout(resolve, 500)).then(() => {emit('close-form');});
        await flaskGetStudies();
        await flaskGetMetabolites();
    }
}

/**
 * On mounting, sets values for inside and outside the modal and stores them.
 */
onMounted(() => {
    initialized.value = false;
    if(document.getElementById("in_modal") && document.getElementById("in_modal") != undefined) {
        in_modal.value = document.getElementById("in_modal")
    }
    if(document.getElementById("outside_modal") && document.getElementById("outside_modal") != undefined) {
        outside_modal.value = document.getElementById("outside_modal")
    }
    initialized.value = true;
})

/**
 * Shows the modal if a user clicks inside the modal.
 * Closes it if a user clicks outside the modal.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!initialized) {
        return;
    }
    if ((!in_modal.value || !outside_modal.value) || (e.target == outside_modal.value && e.target != in_modal.value)) {
        emit('close-form')
    }
});


const in_modal=ref<HTMLElement | null>();
const outside_modal=ref<HTMLElement | null>();
const initialized=ref(false);
const message=ref<string>("");

</script>

<style>

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


</style>