<template>
    <div class="fixed z-40 left-0 top-0 h-full w-full bg-blue-100 bg-opacity-50 flex items-center" id="outside_modal">
        <div class="mx-auto bg-white w-fit h-fit min-w-[30%] min-h-fit border-solid border-slate-400 border-[1px] shadow-lg px-[3%] relative" id="in_modal">
            <p class="mx-auto font-bold my-4">Please register your account:</p>
            <div class="flex flex-wrap justify-start flex-col gap-2 items-start">
                <div class="row">
                    <div class="column text-left pr-2">
                        <p class="mb-[7px] mt-0.5">Username:</p>
                        <p class="mb-[7px]">Password (at least length 8):</p>
                        <p class="mb-[7px]">Confirm Password:</p>
                        <p class="mb-[7px]">E-Mail Address:</p>
                        <p class="mb-[7px]">Institution (optional):</p>
                    </div>
                    <div class="column">
                        <input type="text" id="reg-uname-selector" class="bg-gray-200 accent-blue-500 mb-1">
                        <input type="password" id="reg-password-selector" class="bg-gray-200 accent-blue-500 mb-1"
                         :class="passwords_match ? 'pwm' : 'pwnm'" @change.capture="recomputePWMatch">
                        <input type="password" id="reg-password-confirm" class="bg-gray-200 accent-blue-500 mb-1"
                         :class="passwords_match ? 'pwm' : 'pwnm'" @change.capture="recomputePWMatch">
                        <input type="text" id="reg-email-selector" class="bg-gray-200 accent-blue-500 mb-1" @keyup.enter="sendRegistrationData">
                        <input type="text" id="reg-inst-selector" class="bg-gray-200 accent-blue-500 mb-1" @keyup.enter="sendRegistrationData">
                    </div>
                </div>
            </div>
            <button class="button" @click="sendRegistrationData" :disabled="!passwords_match" :class="!passwords_match ? 'button-disabled' : 'button-active'">Register</button>
            <p v-if="message" class="text-xs" :class="message.includes('Successfully') ? 'text-green-500' : 'text-red-500'">{{message}}</p>
        </div>
    </div>
</template>

<script setup lang="ts">
import { register } from '@/modules/query_flask';
import { onMounted, ref } from 'vue';

/**
 * Has one emit:
 * 
 * @param close-form (emit) - Tells the parent to close the login form
 */
const emit = defineEmits<{
    (e: 'close-form'): void;
}>();

/**
 * On mounting, sets values for inside and outside the modal and stores them.
 */
onMounted(() => {
    initialized.value = false;
    if(document.getElementById("in_modal") && document.getElementById("in_modal") != undefined) {
        in_modal.value = document.getElementById("in_modal")
    }
    if(document.getElementById("outside_modal") && document.getElementById("outside_modal") != undefined) {
        outside_modal.value = document.getElementById("outside_modal")
    }
    initialized.value = true;
})

/**
 * Shows the modal if a user clicks inside the modal.
 * Closes it if a user clicks outside the modal.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!initialized) {
        return;
    }
    if ((!in_modal.value || !outside_modal.value) || (e.target == outside_modal.value && e.target != in_modal.value)) {
        emit('close-form')
    }
});

/**
 * 
 */
const sendRegistrationData = async () => {
    let username = (document.getElementById('reg-uname-selector') as HTMLInputElement)?.value
    let password = (document.getElementById('reg-password-selector') as HTMLInputElement)?.value
    let email = (document.getElementById('reg-email-selector') as HTMLInputElement)?.value
    let institution = (document.getElementById('reg-inst-selector') as HTMLInputElement)?.value
    let registration = await register(username, password, email, institution ? institution : 'unknown');
    message.value = <string>registration.msg;
}

const recomputePWMatch = () => {
    passwords_match.value = (((document.getElementById('reg-password-selector') as HTMLInputElement)?.value
     == (document.getElementById('reg-password-confirm') as HTMLInputElement)?.value)
    && ((document.getElementById('reg-password-selector') as HTMLInputElement)?.value.length >= 8))
}

const in_modal=ref<HTMLElement | null>();
const outside_modal=ref<HTMLElement | null>();
const initialized=ref(false);
const message=ref<string>("");
const passwords_match = ref<boolean>(false);

</script>

<style>

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.pwm {
    outline: 1px solid rgb(34, 197, 94);
}

.pwnm {
    outline: 1px solid rgb(239 68 68);
}

.button {
    width: fit-content;
    height: fit-content;
    margin: 5px auto 7px;
    border-radius: 5px;
    padding: 1.5px 1px;
}

.button-active {
    background: #3b82f6;
    color: white;
}

.button-active:hover {
    color: rgb(253 186 116);
}

.button-disabled {
    background: rgb(148 163 184);
    color: lightgray;
}


</style>