<template>
    <div class="text-left mx-4 mt-4 h-[550px] relative">
        <div v-for="filter of filter_categories" class="h-[15%]">
            <div v-if="filter.type == 'choice'" class="sf-filteritem mt-auto text-left">
                <div class="sf-filteritem-descriptor">Filter by <span class="font-bold">{{filter.id}}</span>:</div>
                <div class="sf-filteritem-content">
                    <span v-for="choice of Array.from(Array(filter.choices.length).keys()).map(x => x)">
                        <input type="checkbox" class="accent-blue-500" :id="`box_${filter.key}_${choice}`" 
                        @change="toggleFilterBox(filter.key, filter.choices[choice])"/>
                        &nbsp;{{filter.choices[choice]}}&nbsp;
                    </span>
                </div> 
            </div>
            <div v-if="filter.type == 'textfield'" class="sf-filteritem text-left">
                <div class="sf-filteritem-descriptor">Filter by <span class="font-bold">{{filter.id}}</span>:</div>
                <div class="sf-filteritem-content">
                    <input type="text" class="w-full h-max bg-gray-100 accent-blue-500" @input="applyFilters" :id="`tf_${filter.key}`"/>
                </div>
            </div>
        </div>
        <div class="sf-apply" style="cursor: pointer" @click="resetFilters">
            Reset filters
        </div>
    </div>
</template>

<script setup lang="ts">
import { customObject } from '@/store';
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
const store = useStore();
const query_filters = computed(() => store.state.query_filters);
const filter_categories: Array<customObject> = [
    {
        'id': 'Study Type',
        'type': 'choice',
        'key': 'study_method',
        'choices': ['Any', 'NMR', 'LC-MS']
    },
    {
        'id': 'Author',
        'type': 'textfield',
        'key': 'study_authors',
    },
    {
        'id': 'Pub. Date',
        'type': 'textfield',
        'key': 'study_date',
    },
    {
        'id': 'Expt. Date',
        'type': 'textfield',
        'key': 'experiment_date',
    },
    {
        'id': 'Specimen',
        'type': 'choice',
        'key': 'study_type',
        'choices': ['Any', 'Blood', 'Urine', 'Other']
    },
    {
        'id': 'Visibility',
        'type': 'choice',
        'key': 'visibility',
        'choices': ['Any', 'Public', 'Private']
    }
]

const props = defineProps<{
    study_data: customObject,
}>();

onMounted(async () => {
    loadFilters();
    conformBoxesToArrays();
})

/**
 * Sets filtering box values depending on which boxes the user clicks.
 * There are probably better ways to do this but this one is at least intuitive
 * 
 * @param fkey - The filter key (to identify the filter)
 * @param choice - The string associated with the box
 */
const toggleFilterBox = (fkey: string, choice: string) => {
    if (fkey === 'study_type') {
        switch(choice) {
            case 'Any':
                specimen_checked.value = [1,0,0,0];
                break;
            case 'Blood':
                specimen_checked.value[1] = (!!specimen_checked.value[1] ? 0 : 1);
                specimen_checked.value[0] = (specimen_checked.value.includes(1) ? 0 : 1);
                break;
            case 'Urine':
                specimen_checked.value[2] = (!!specimen_checked.value[2] ? 0 : 1);
                specimen_checked.value[0] = (specimen_checked.value.includes(1) ? 0 : 1);
                break;
            case 'Other':
                specimen_checked.value[3] = (!!specimen_checked.value[3] ? 0 : 1);
                specimen_checked.value[0] = (specimen_checked.value.includes(1) ? 0 : 1);
                break;
        }
    } else if (fkey === 'visibility') {
        switch(choice) {
            case 'Any':
                vis_checked.value = [1,0,0];
                break;
            case 'Public':
                vis_checked.value = [0,1,0];
                break;
            case 'Private':
                vis_checked.value = [0,0,1];
                break;
        }
    } else if (fkey === 'study_method') {
        switch(choice) {
            case 'Any':
                method_checked.value = [1,0,0];
                break;
            case 'NMR':
                method_checked.value = [0,1,0];
                break;
            case 'LC-MS':
                method_checked.value = [0,0,1];
                break;
        }
    }
    conformBoxesToArrays();
}

/**
 * Reflects the different filter array permutations in the checkboxes.
 */
const conformBoxesToArrays = () => {
    //Specimen Boxes
    for (let i=0; i < specimen_checked.value.length; i++) {
        (document.getElementById(`box_study_type_${i}`) as HTMLInputElement).checked = !!specimen_checked.value[i];
    }
    //Visibility Boxes
    for (let i=0; i < vis_checked.value.length; i++) {
        (document.getElementById(`box_visibility_${i}`) as HTMLInputElement).checked = !!vis_checked.value[i];
    }
    //Type Boxes
    for (let i=0; i < method_checked.value.length; i++) {
        (document.getElementById(`box_study_method_${i}`) as HTMLInputElement).checked = !!method_checked.value[i];
    }
    applyFilters();
}

/**
 * Sets new filters and stores them.
 */
const applyFilters = () => {
    let filterObject: customObject = {
        'study_authors': (document.getElementById('tf_study_authors') as HTMLInputElement).value,
        'study_date': (document.getElementById('tf_study_date') as HTMLInputElement).value,
        'experiment_date': (document.getElementById('tf_experiment_date') as HTMLInputElement).value,
        'study_type': specimen_checked.value,
        'study_method': method_checked.value,
        'visibility': vis_checked.value,
    }
    store.commit('queryStudyFiltersSet', filterObject);
}

/**
 * Loads filters from store if possible
 */
const loadFilters = () => {
    if (query_filters.value.get('study_date')) (document.getElementById("tf_study_date") as HTMLInputElement).value = query_filters.value.get('study_date');
    if (query_filters.value.get('study_type')) specimen_checked.value = query_filters.value.get('study_type');
    if (query_filters.value.get('study_method')) method_checked.value = query_filters.value.get('study_method');
    if (query_filters.value.get('study_authors')) (document.getElementById("tf_study_authors") as HTMLInputElement).value = query_filters.value.get('study_authors');
    if (query_filters.value.get('visibility')) vis_checked.value = query_filters.value.get('visibility');
    if (query_filters.value.get('experiment_date')) (document.getElementById("tf_experiment_date") as HTMLInputElement).value = query_filters.value.get('experiment_date');
    conformBoxesToArrays();
}

/**
 * Resets study filters.
 */
const resetFilters = () => {
    store.commit('queryStudyFiltersReset');
    (document.getElementById("tf_study_date") as HTMLInputElement).value = "";
    (document.getElementById("tf_study_authors") as HTMLInputElement).value = "";
    (document.getElementById("tf_experiment_date") as HTMLInputElement).value = "";
    specimen_checked.value = [1,0,0,0];
    vis_checked.value = [1,0,0];
    method_checked.value = [1,0,0];
    conformBoxesToArrays();
}

const specimen_checked = ref<Array<number>>([1,0,0,0]);
const vis_checked = ref<Array<number>>([1,0,0]);
const method_checked = ref<Array<number>>([1,0,0]);
</script>

<style>

.sf-filteritem {
    width: 100%;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

.sf-filteritem-descriptor {
    grid-column: 1 / 2;
}

.sf-filteritem-content {
    grid-column: 2 / 3;
}

.sf-apply {
    text-align: center;
    background-color: rgb(96 165 250);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    position: absolute;
    bottom: 4px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.sf-apply:hover {
    color: rgb(253 186 116);
}

</style>