<template>
    <div class="sml-container">
            <!--Study ID-->
            <div class="sml-descriptor" v-if="study_data.study_id">ID:</div>
            <div class="sml-content" v-if="study_data.study_id">{{study_data.study_id}}</div>  

            <!--Study Authors-->
            <div class="sml-descriptor" v-if="study_data.study_authors">Authors:</div>
            <div class="sml-content" v-if="study_data.study_authors">{{study_data.study_authors.split(',').join(', ')}}</div>          

            <!--Study Date-->
            <div class="sml-descriptor" v-if="study_data.study_date">Published:</div>
            <div class="sml-content" v-if="study_data.study_date">{{study_data.study_date}}</div>
            
            <!--Experiment Date-->
            <div class="sml-descriptor" v-if="study_data.experiment_date">Exp. Date:</div>
            <div class="sml-content" v-if="study_data.experiment_date">{{study_data.experiment_date}}</div>

            <!--Specimen-->
            <div class="sml-descriptor" v-if="study_data.study_type">Specimen:</div>
            <div class="sml-content" v-if="study_data.study_type">{{study_data.study_type}}</div>   

            <!--Study Method-->
            <div class="sml-descriptor" v-if="study_data.study_method">Method:</div>
            <div class="sml-content" v-if="study_data.study_method">{{study_data.study_method}}</div>   

            <!--Spectrometer-->
            <div class="sml-descriptor" v-if="study_data.spectrometer">Spectrometer:</div>
            <div class="sml-content" v-if="study_data.spectrometer">{{study_data.spectrometer}}</div>   

            <!--Probehead-->
            <div class="sml-descriptor" v-if="study_data.probehead">Probehead:</div>
            <div class="sml-content" v-if="study_data.probehead">{{study_data.probehead}}</div>   

            <!--Spectrometer Probe-->
            <div class="sml-descriptor" v-if="study_data.spectrometer_probe">Spec. Probe:</div>
            <div class="sml-content" v-if="study_data.spectrometer_probe">{{study_data.spectrometer_probe}}</div>   

            <!--Instrument-->
            <div class="sml-descriptor" v-if="study_data.instrument">Instrument:</div>
            <div class="sml-content" v-if="study_data.instrument">{{study_data.instrument}}</div>   

            <!--Quantification Method-->
            <div class="sml-descriptor" v-if="study_data.quantification_method">Quant. Method:</div>
            <div class="sml-content" v-if="study_data.quantification_method">{{study_data.quantification_method}}</div>
            
            <!--Uploader-->
            <div class="sml-descriptor" v-if="study_data.uploader">Uploaded by:</div>
            <div class="sml-content" v-if="study_data.uploader">{{study_data.uploader}}</div>
            
            <!--Visibility-->
            <div class="sml-descriptor" v-if="study_data.visibility">Visibility:</div>
            <div class="sml-content" v-if="study_data.visibility">{{study_data.visibility}}</div>

            <!--DOI-->
            <div class="sml-descriptor" v-if="study_data.doi">DOI:</div>
            <div class="sml-content" v-if="study_data.doi">{{study_data.doi}}</div>

            <!--MetaboLights accession number-->
            <div class="sml-descriptor" v-if="study_data.ml_id">MetaboLights:</div>
            <div class="sml-content" v-if="study_data.ml_id">{{study_data.ml_id}}</div>
            
            <!--Associated Files-->
            <div class="sml-descriptor" v-if="study_data.study_files">Assoc. Files:</div>
            <div class="sml-content" v-if="study_data.study_files">
                <p v-for="file in study_data.study_files" :key="file">{{file}}</p>
            </div>
    </div>
</template>

<script setup lang="ts">
import { customObject } from '@/store';

const props = defineProps<{
    study_data: customObject,
}>();

</script>

<style>
.sml-container {
    margin-left: 8px;
    height: 100%;
    margin-right: 8px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-auto-rows: max-content;
    overflow-y: scroll;
}

.sml-descriptor {
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: smaller;
    text-align: left;
    white-space: nowrap;
}

.sml-content {
    font-size: smaller;
    margin-left: 8px;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
}
</style>