<template>
    <div class="text-left ml-4 bg-gray-100 overflow-y-scroll h-[90%]">
        <div v-for="item in studies_all" :key="item" :class="{'bg-blue-300': currently_locked == item, 'filtered-out': (!filtered.includes(item))}">
            <span @mouseenter.native="hoverStudy(item)" @mouseleave.native="unhoverStudy" @click="toggleLockState(item)" 
            :id="`sdi_${item}`" style="cursor: pointer">
               {{item}}
            </span>
                <input type="checkbox" :id="item" :value="item" @change="toggleSelectedStudy(item)" :class="{'filtered-out': (!filtered.includes(item))}"
                :checked="studies_selected.includes(item)" class="float-right mt-1 mr-2 accent-blue-500"/>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref, watch } from "vue";
import { useStore } from "vuex";
import { flaskGetStudies, flaskGetStudyMetadata } from "@/modules/handle_flask_output";

const store = useStore();
const studies_selected = computed(() => store.state.studies_selected);
const studies_all = computed(() => store.state.studies_all);
const studies_metadata = computed(() => store.state.studies_metadata);
const info_lock_state = computed(() => store.state.info_lock_state);
const info_to_show = computed(() => store.state.info_to_show);
const study_filters = computed(() => store.state.query_filters);

const emit = defineEmits<{
    (e: 'reevaluate-queries'): void;
}>();

onUnmounted(() => {
    store.commit('infoModalUnlock');
    currently_locked.value = "";
})

onMounted(async () => {
    if (!filtered.value.length) {
        if (!studies_all.value.length) await flaskGetStudies();
        for (let study of studies_all.value) {
            checkFilterMatch(study);
        }
    }
})

/**
 * Called when a study is (de-)selected in the web application.
 * Removes or adds the according study from the selection.
 * 
 * @remarks Also updates the sorting order of all metabolites and sorts the metabolite lists.
 * 
 * @param study - The study identifier for the study in question (e.g. AKI). 
 */
const toggleSelectedStudy = (study: string): void => {

    if (studies_selected.value.includes(study)) {
        store.commit('studySelectedRemove', study);
    }
    else {
        store.commit('studySelectedAdd', study);
    }
    emit('reevaluate-queries');
    store.dispatch('metabolitesUpdateAll');
    store.dispatch('metabolitesSort');
}

/**
 * Sets the study to show in the info modal if the user hovers over a study in the list.
 * Also sets visibility of the info window to true.
 * 
 * @param study - Study to gather metadata for on hovering a study name
 */
const hoverStudy = async (study: string): Promise<void> => {
    if (info_lock_state.value) return
    await getStudyData(study);
    store.commit('infoModalShow');
}

/**
 * Hides metadata if user stops hovering a name (unless the info is locked)
 */
const unhoverStudy = () => {
    if (!info_lock_state.value)
        store.commit('infoModalHide');
}

/**
 * Retrieves study metadata.
 * If it is already contained in the store, the local copy is used. Otherwise it is queried from flask and then stored.
 * 
 * @param study - Study identifier
 */
const getStudyData = async (study: string) => {
    let study_metadata = studies_metadata.value.get(study);
    if (!study_metadata) {
        study_metadata = await flaskGetStudyMetadata(study);
        store.commit('studyAddMetadata', {'study_id': study, 'metadata': study_metadata});
    }
    let y_pos = document.getElementById(`sdi_${study}`)?.getBoundingClientRect().top;
    store.commit('infoModalSetContent', {'content': study_metadata, 'y': y_pos});
}

/**
 * Toggles lock state for the study dropdown.
 * If it is locked, the hovering functions are temporarily disabled and visibility is always true.
 * If it is unlocked, hovering functions are enabled and visibility can be true or false.
 * 
 * @param study - Study identifier
 */
const toggleLockState = async (study: string) => {
    if (!info_lock_state.value) {
        store.commit('infoModalLock');
        currently_locked.value = study;
    }
    else {
        if (study === info_to_show.value.study_id) {
            store.commit('infoModalUnlock');
            currently_locked.value = "";
        }  
        else {
            await getStudyData(study);
            currently_locked.value = study;
        }
    }
}

/**
 * Checks if a study satisfies filtering constraints.
 * 
 * @param study - Study identifier
 */
const checkFilterMatch = async (study: string): Promise<void> => {
    let study_metadata = studies_metadata.value.get(study);
    if (!study_metadata) {
        await getStudyData(study);
        study_metadata = studies_metadata.value.get(study);
    }
    for (let [filterkey, value] of study_filters.value.entries()) {
        switch (filterkey) {
            case 'study_authors':
                if (!value) break;
                if (!study_metadata.study_authors.includes(value)) return;
                break;
            case 'experiment_date':
            case 'study_date':
                if (!value) break;
                try {
                    let decoupled_date = (<string>value).split("-");
                    let fkey = filterkey as keyof typeof study_metadata;
                    let study_exp_date = study_metadata[fkey].split("-");
                    if (decoupled_date.length === 1 && study_exp_date.length === 1 && decoupled_date[0] != study_exp_date[0] ) return;
                    else if (decoupled_date.length === 2 && study_exp_date.length === 1 && (decoupled_date[0] > study_exp_date[0] || decoupled_date[1] < study_exp_date[0])) return;
                    else if (decoupled_date.length === 1 && study_exp_date.length === 2 && (decoupled_date[0] < study_exp_date[0] || decoupled_date[0] > study_exp_date[1])) return;
                    else if (decoupled_date.length === 2 && study_exp_date.length === 2 && (decoupled_date[0] > study_exp_date[1] || decoupled_date[1] < study_exp_date[0])) {return;}
                    else {break;}
                } catch (error) {
                    return;
                }
                break;
            case 'study_method':
                if (value[0] === 0) {
                    if (value[1] == 1 && study_metadata.study_method.toLowerCase() == "nmr") break;
                    if (value[2] == 1 && study_metadata.study_method.toLowerCase() == "lc-ms") break;
                    return;
                }
                break;
            case 'visibility':
                if (value[0] === 0) {
                    if (value[1] == 1 && study_metadata.visibility.toLowerCase() == "public") break;
                    if (value[2] == 1 && study_metadata.visibility.toLowerCase() == "private") break;
                    return;
                }
                break;
            case 'study_type':
                if (value[0] === 0) {
                    if (value[1] == 1 && (study_metadata.study_type.toLowerCase() == "plasma" || study_metadata.study_type.toLowerCase() == "serum")) break;
                    if (value[2] == 1 && study_metadata.study_type.toLowerCase() == "urine") break;
                    if (value[3] == 1 && study_metadata.study_type.toLowerCase() == "other") break;
                    return;
                }
                break;
            default: return;     
        }
    }
    filtered.value.push(study);
}

const recheckFilters = (): void => {
    filtered.value.splice(0, filtered.value.length);
    for (let study of studies_all.value) {
        checkFilterMatch(study);
    }
}

const currently_locked = ref<string>("");
const filtered = ref<Array<string>>([]);

watch(study_filters.value, () => {
    recheckFilters();
})

watch(studies_all.value, () => {
    recheckFilters();
})

watch(store.getters.logged_user, async () => {
    await new Promise(resolve => setTimeout(resolve, 500)).then(() => {recheckFilters();});
    
});

</script>

<style>

.filtered-out {
    color: lightgray;
    accent-color: rgb(135, 135, 135);
}

</style>